@import "src/@fuse/scss/fuse";

#invoice-report {

    .header {

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {
        display: block;

        .card {
            width: 100%;
            overflow: hidden;
            background: #FFFFFF;
            @include mat-elevation(7);

            .content {

                .invoice-report-table {
                    margin-top: 32px;
                    font-size: 15px;

                    thead {

                        tr {

                            th {
                                &:first-child {
                                    padding-left: 8px;
                                }

                                &:last-child {
                                    padding-right: 8px;
                                }
                            }
                        }
                    }

                    tbody {

                        tr {

                            td {
                                &:first-child {
                                    padding-left: 8px;
                                }

                                &:last-child {
                                    padding-right: 8px;
                                }
                            }
                        }
                    }

                    .title {
                        font-size: 16px;
                    }

                    .detail {
                        margin-top: 8px;
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.54);
                        max-width: 360px;
                    }
                }
            }
        }

        table {
            table-layout: fixed;
        }
    }

}
