.full-width-here {
    width: 100%;
    margin-right: 25px;
}

.attr-width {
        width: 85px;
    }

    .shipping-invoice {
        padding-bottom: 0;
        padding-top: 0;
    }
.invoice-title-font {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.pad-it-right-invoice {
    margin-top: 50px;
    padding-right: 25px;
}