<mat-toolbar class="mb-0" fxLayoutAlign="space-between center">
  <div>Contacts</div>
  <div *ngIf="checkbox == false" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="accent" (click)="newContact()"><mat-icon>add</mat-icon> Contact</button>
    <button class="ml-8" mat-raised-button color="accent" (click)="selectContacts()"><mat-icon>apps</mat-icon> Select</button>
  </div>
  <div class="mx-12 m-md-0" *ngIf="checkbox == true" fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button (click)="closeDialog()"  class="close-contacts-modal">
        <mat-icon aria-label="Close">close</mat-icon>
    </button>   
    </div>
</mat-toolbar>
<div class="related-contacts-table pt-20">
  <mat-table #table matSort
            (matSortChange)="sortChange($event)"
            [dataSource]="dataSource"
            class="related-contacts-list-table"
            fusePerfectScrollbar>


    <ng-container cdkColumnDef="checkbox">
        <mat-header-cell class="w-40" *cdkHeaderCellDef></mat-header-cell>
        <mat-cell class="w-40" *cdkCellDef="let contact">
            <mat-checkbox [ngModel]="selectedRow === contact.id"
                          (ngModelChange)="onSelectedChange(contact)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="contactName">
        <mat-header-cell class="header-cell" *cdkHeaderCellDef>
            <span mat-sort-header>Name</span>
            <input class="form-control" [formControl]="contactName" placeholder=""
                    (blur)="filterContacts('contactName', $event)"
                    (keyup.enter)="filterContacts('contactName', $event, true)">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let contact">
            <a [routerLink]="['/contacts', contact.id]" class="text-truncate font-weight-600" (click)="$event.stopPropagation()">
                {{contact.contactName}}
            </a>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="title">
        <mat-header-cell class="header-cell" *cdkHeaderCellDef>
            <span mat-sort-header>Title</span>
            <input class="form-control" [formControl]="title" placeholder=""
                    (blur)="filterContacts('title', $event)"
                    (keyup.enter)="filterContacts('title', $event, true)">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let contact">
            <p class="text-truncate font-weight-600">
                {{contact.title}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="email">
        <mat-header-cell class="header-cell" *cdkHeaderCellDef>
            <span mat-sort-header>Email</span>
            <input class="form-control" [formControl]="email" placeholder=""
                    (blur)="filterContacts('email', $event)"
                    (keyup.enter)="filterContacts('email', $event, true)">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let contact">
            <p class="company text-truncate">
                <button mat-icon-button  color="accent" (click)="composeDialog(contact.email, $event)" *ngIf="contact.email"><mat-icon >email</mat-icon></button> <a href="mailto:{{contact.email}}" *ngIf="contact.email" (click)="$event.stopPropagation()">{{ contact.email }}</a>
            </p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="phone">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span mat-sort-header>Phone</span>
            <input class="form-control" [formControl]="phone" placeholder=""
                    (blur)="filterContacts('phone', $event)"
                    (keyup.enter)="filterContacts('phone', $event, true)">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-sm >
            <p class="company text-truncate">
                {{contact.phone}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="salesRep">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span mat-sort-header>Assigned To</span>
            <input class="form-control" [formControl]="salesRep" placeholder=""
                    (blur)="filterContacts('salesRep', $event)"
                    (keyup.enter)="filterContacts('salesRep', $event, true)">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-sm >
            <p class="company text-truncate">
                {{contact.salesRep}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="documents">
        <mat-header-cell class="header-cell" *cdkHeaderCellDef>
            <span>Documents</span>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-sm (click)="editContactDocuments($event, contact)">
                <span *ngIf="!contact.tags.length"></span>
                <ng-container *ngFor="let tag of contact.tags; let last=last">
                    {{ tag.tagName }}{{ last ? '' : ', '}}
                </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="buttons">
        <mat-header-cell class="w-40" *cdkHeaderCellDef></mat-header-cell>
        <mat-cell class="w-40" *cdkCellDef="let contact">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="editContactDocuments($event, contact)">
                        <mat-icon>contact_mail</mat-icon>
                        <span>Documents</span>
                    </button>
                    <button mat-menu-item aria-label="remove" (click)="deleteContact(contact)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *cdkRowDef="let contact; columns: displayColumns;"
            class="contact-row" matRipple
            (click)="onSelectedChange(contact)"
            [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
  </mat-table>
  <div class="h-64 text-center p-20" *ngIf="dataSource.empty">
    You don't have contacts linked to this account.
  </div>
  <mat-paginator #paginator
                [length]="contactsCount"
                (page)="paginate($event)"
                [pageSize]="10"
                [pageSizeOptions]="[10, 20, 50, 100]"
                [showFirstLastButtons]="true">
  </mat-paginator>

  <div class="loading"
        [@animate]="{value:'*',params:{opacity:1}}"
        *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
