<div fxLayout="column">
  <div class="mx-400 mb-16" fxLayout="row" fxLayoutAlign="start center">
    <button type="button" mat-raised-button color="accent" (click)="addLines()">+Lines</button>
  </div>
  <mat-table fxFlex #table
      [dataSource]="dataSource"
      [formGroup]="formGroup">

      <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
          </mat-checkbox>
          </mat-cell>
      </ng-container>

    <ng-container cdkColumnDef="image">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span>Preview</span>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let data" fxHide fxShow.gt-sm>
            <img *ngIf="data.image"
                [ngClass]="'product-image-wide'"
                [alt]="data.name"
                [src]="data.image"/>
            <img *ngIf="!data.image" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="details">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span>Item</span>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let data" fxHide fxShow.gt-sm>
            <p class="text-truncate" matTooltip="{{data.name}} {{data.color}} {{data.size}}">{{data.name}} {{data.color}} {{data.size}}</p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="poNo">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span>PO</span>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let data" fxHide fxShow.gt-sm (click)="viewPoInfo(data.order.id)">
            <p class="text-truncate" matTooltip="{{data.order.number}}">{{data.order.number}}</p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="type">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span>Service</span>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let data" fxHide fxShow.gt-sm>
            <p *ngIf="data.type==='deco'">Decoration</p>
            <p *ngIf="data.type==='product'">Product</p>
            <p *ngIf="data.type==='addon'||data.type==='deco-addon'">Additional Charge</p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="name">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span>Name</span>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let data" fxHide fxShow.gt-sm>
            <p class="text-truncate" matTooltip="{{data.name}}">{{data.name}}</p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="color">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span>Color</span>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let data" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{data.color}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="size">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span>Size</span>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let data" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{data.size}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="quantity">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span>Quantity</span>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let data" fxHide fxShow.gt-sm>
            <p class="email">
              <input class="form-control" *ngIf="data.id!=''" [formControlName]="'qty_'+data.id" placeholder="" (keyup)="calculateTotal()">
              <input class="form-control" *ngIf="data.id==''" [formControlName]="'qty_'+data.type+'_'+data.productId+'_'+data.lineId+'_'+data.recordId" placeholder="" (keyup)="calculateTotal()">
            </p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="price">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span>Unit Credit</span>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let data" fxHide fxShow.gt-sm>
            <p class="email">
              <input class="form-control" *ngIf="data.id!=''" [formControlName]="'price_'+data.id" placeholder="" (keyup)="calculateTotal()">
              <input class="form-control" *ngIf="data.id==''" [formControlName]="'price_'+data.type+'_'+data.productId+'_'+data.lineId+'_'+data.recordId" placeholder="" (keyup)="calculateTotal()">
            </p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="total">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span>Total Credit</span>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let data" fxHide fxShow.gt-sm>
            <p class="email text-truncate" *ngIf="data.id!=''">
                {{fx2StrCopy(formGroup.controls['price_'+data.id].value * formGroup.controls['qty_'+data.id].value) | number: '1.2-2'}}
            </p>
            <p class="email text-truncate" *ngIf="data.id==''">
              {{
                  formatNumber(
                    formatNumber(
                      formGroup.controls['price_'+data.type+'_'+data.productId+'_'+data.lineId+'_'+data.recordId].value
                    )
                    * formGroup.controls['qty_'+data.type+'_'+data.productId+'_'+data.lineId+'_'+data.recordId].value
                  ) | number: '1.2-2'
              }}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="buttons">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span>Actions</span>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let data; let index = index;" fxHide fxShow.gt-sm>
            <button mat-button class="mat-icon-button"
                    (click)="removeLines(index)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let data; columns: displayedColumns;"
            class="category-row"
            matRipple>
    </mat-row>
</mat-table>

<div class="loading"
[@animate]="{value:'*',params:{opacity:1}}"
*ngIf="loading">
<mat-spinner></mat-spinner>
