@import "src/@fuse/scss/fuse";

app-modules-purge-records {
    flex: 1;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .mat-table {
        box-shadow: none;
        margin-top: 2px;
        position: static;
        overflow-y: hidden;
        width: 40%;
        .mat-header-row {
            background: white;
            width: 40%;
            position: absolute;
            top: 0;
            z-index: 1;
        }

        .mat-column-checkbox {
            flex: 0 1 64px;

            .mat-checkbox-ripple {
                display: none !important; //fix for broken rendering
            }
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;
                        z-index: 0;

            .mat-cell {
                min-width: 0;

                &.mat-column-detail-button {
                    flex: 0 1 auto;
                    padding: 0 24px 0 0;
                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}
