<div>
  <div class="actions">
    <button mat-icon-button class="mr-16">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-raised-button color="accent" class="ml-8">
      <mat-icon>playlist_add</mat-icon>
      Add To Order
    </button>
    <button mat-raised-button color="accent" class="ml-8">
      <mat-icon>add</mat-icon>
      New Product
    </button>
    <button mat-raised-button color="accent" class="ml-8">
      <mat-icon>layers_clear</mat-icon>
      Clear Filters
    </button>
    <button mat-raised-button color="accent" class="ml-8">
      <mat-icon>search</mat-icon>
      Advanced Search
    </button>
  </div>
  <app-product-list></app-product-list>
</div>