#admin-settings {
  .content-card {
    background: white;
    position: relative;
  }

  .mat-tab-group.fixed {
    margin-top: 64px;
    flex: 1 1 auto;
    max-width: 100%;
    min-height: 0;

    > .mat-tab-header {
      position: absolute;
      top: 0;
      width: 100%;
    }
    > .mat-tab-body-wrapper {
      flex: 1 1 auto;
      max-width: 100%;
      flex-direction: column;

      > .mat-tab-body-content {
        flex: 1 1 auto;
        display: flex;
      }
    }
  }

  .mat-tab-label {
    height: 64px;
  }

  .mat-tab-header {
    background: #fafafa;
  }
}