.contact-form-accounts {

    .mt-12.mat-icon {
        margin-top: 22px !important;
        margin-right: 6px !important;
    }

    .mat-icon.mt-icon-contacts {
        margin-top: 30px !important;
    }

}