<div id="lock" fxLayout="column" fusePerfectScrollbar *ngIf="!loading">

    <div id="lock-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div class="logo" *fuseIfOnDom [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img class="logo-icon" src="assets/images/logos/logo.png">
            <img class="logo-icon1" src="assets/images/logos/dvance.png">
        </div>

        <div id="lock-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="lock-form-header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
                fxLayoutAlign.gt-xs="start center">

                <!-- <div class="avatar-container">
                    <img class="avatar big" src="assets/images/avatars/katherine.jpg">
                    <mat-icon class="s-36">lock</mat-icon>
                </div> -->

                <div>
                    <div class="subtitle">
                        Due to inactivity, your session is locked. Enter your password to continue.
                    </div>
                </div>

            </div>

            <form [formGroup]="lockForm" novalidate (submit)="unlock()">

                <mat-form-field>
                    <input matInput name="username" placeholder="Username" formControlName="username" autocomplete="username">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" name="password" placeholder="Password" formControlName="password" autocomplete="current-password">
                    <mat-error *ngIf="lockFormErrors.password.required">
                        Password is required
                    </mat-error>
                </mat-form-field>
                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <a class="forgot-password" [routerLink]="'/forgot-password'">Reset Password</a>
                </div>
                <button mat-raised-button class="submit-button" color="accent" aria-label="UNLOCK"
                    [disabled]="lockForm.invalid">
                    UNLOCK
                </button>

            </form>

            <div class="message">

              <a href="javascript:void(0)" class="link" (click)="logout()">Are you not {{ lockForm.get('username')?.value }} ?</a>

          </div>

        </div>

    </div>

</div>
<div class="loading" [@animate]="{value:'*',params:{opacity:1}}" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
