<mat-table fxFlex #table
    [dataSource]="dataSource">

    <ng-container cdkColumnDef="details">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span>Item</span>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let data" fxHide fxShow.gt-sm>
            <p class="text-truncate" matTooltip="{{data.description}}">{{data.description}}</p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="type">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span>Type</span>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let data" fxHide fxShow.gt-sm>
            <p class="text-truncate" matTooltip="{{data.type}}">{{data.type}}</p>
        </mat-cell>
    </ng-container>


    <ng-container cdkColumnDef="uom">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
          <span>UOM</span>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let data" fxHide fxShow.gt-sm>
          <p class="text-truncate" matTooltip="{{data.quantityUom}}">{{data.quantityUom}}</p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="quantity">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span>Quantity</span>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let data" fxHide fxShow.gt-sm>
            <p class="email">{{data.invoiceQuantity}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="price">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
          <span>Price</span>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let data" fxHide fxShow.gt-sm>
          <p class="email">{{data.unitPrice | number:'.2-2'}}
          </p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="totalPrice">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
          <span>Total Price</span>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let data" fxHide fxShow.gt-sm>
          <p class="email">{{data.extendedPrice | number:'.2-2'}}
          </p>
      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let data; columns: displayedColumns;"
            class="category-row"
            matRipple>
    </mat-row>
</mat-table>
