<mat-toolbar class="mb-0" fxLayoutAlign="space-between center">
    <div>{{ title }}</div>
    <div fxLayoutAlign="end center">
        <!-- SEARCH -->
        <div class="mx-12 m-md-0 mr-40 contact-list-search" fxLayout="row" fxLayoutAlign="start center">
            <label for="search" class="mr-8">
                <mat-icon class="secondary-text">search</mat-icon>
            </label>
            <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                <input matInput [formControl]="searchInput" id="search" placeholder="Search for contacts">
            </mat-form-field>
            <button *ngIf='searchInput.value' mat-icon-button (click)="clearSearch()">
                <mat-icon aria-label="Close">close</mat-icon>
            </button>
         </div>
        <div class="mx-12 m-md-0" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button (click)="closeDialog()" class="close-contacts-modal">
                <mat-icon aria-label="Close">close</mat-icon>
            </button>
        </div>
        <!-- / SEARCH -->
    </div>
</mat-toolbar>
<div class="table-container pt-20">
  <mat-table class="contacts-list-table" #table matSort
            (matSortChange)="sortChange($event)"
            [dataSource]="dataSource"
            fusePerfectScrollbar>


    <ng-container cdkColumnDef="checkbox">
        <mat-header-cell class="w-40" *cdkHeaderCellDef></mat-header-cell>
        <mat-cell class="w-40" *cdkCellDef="let contact">
            <mat-checkbox [ngModel]="selectedRow === contact.id"
                          (ngModelChange)="onSelectedChange(contact)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="contactName">
        <mat-header-cell class="header-cell" *cdkHeaderCellDef>
            <span mat-sort-header>Name</span>
            <input class="form-control" [formControl]="contactName" placeholder=""
                    (blur)="filterContacts('contactName', $event)"
                    (keyup.enter)="filterContacts('contactName', $event, true)">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let contact">
            <p class="text-truncate font-weight-600">
                {{contact.contactName}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="email">
        <mat-header-cell class="header-cell" *cdkHeaderCellDef>
            <span mat-sort-header>Email</span>
            <input class="form-control" [formControl]="email" placeholder=""
                    (blur)="filterContacts('email', $event)"
                    (keyup.enter)="filterContacts('email', $event, true)">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let contact">
            <p class="company text-truncate">
                {{contact.email}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="phone">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span mat-sort-header>Phone</span>
            <input class="form-control" [formControl]="phone" placeholder=""
                    (blur)="filterContacts('phone', $event)"
                    (keyup.enter)="filterContacts('phone', $event, true)">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-sm >
            <p class="company text-truncate">
                {{contact.phone}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="salesRep">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef>
            <span mat-sort-header>Assigned To</span>
            <input class="form-control" [formControl]="salesRep" placeholder=""
                    (blur)="filterContacts('salesRep', $event)"
                    (keyup.enter)="filterContacts('salesRep', $event, true)">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let contact" fxHide fxShow.gt-sm >
            <p class="company text-truncate">
                {{contact.salesRep}}
            </p>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *cdkRowDef="let contact; columns: displayColumns;"
            class="contact-row" matRipple
            (click)="onSelectedChange(contact)"
            [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
  </mat-table>
  <div class="h-64 text-center p-20" *ngIf="dataSource.empty">
    No contacts to show
  </div>
  <mat-paginator #paginator
                [length]="contactsCount"
                (page)="paginate($event)"
                [pageSize]="10"
                [pageSizeOptions]="[10, 20, 50, 100]"
                [showFirstLastButtons]="true">
  </mat-paginator>

  <div class="loading"
        [@animate]="{value:'*',params:{opacity:1}}"
        *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
