<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row>
            <div>{{ action === 'edit'? 'Edit ' + currentType : 'New ' + currentType}}</div>
            <button mat-button class="mat-icon-button dialog-close"
                    (click)="dialogRef.close()"
                    aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-dialog-content class="p-24 m-0">

        <form [formGroup]="activityForm" class="activity-form-icons">
            <div fxLayout="row" fxLayout.xs="column">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none"  *ngIf="currentType !== 'Project Task'">
                    <mat-icon class="mr-12 mt-12">list</mat-icon>
                    <mat-form-field fxFlex>
                        <mat-select (selectionChange)="changeType($event)" formControlName="type" placeholder="Type" required>
                            <mat-option [value]="type.value" *ngFor="let type of types">{{ type.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12">class</mat-icon>
                    <mat-form-field fxFlex>
                        <input name="subject" autocomplete="off" formControlName="subject" [placeholder]="(currentType == 'Project Task') ? 'Item Name' : 'Subject'" matInput required>
                    </mat-form-field>
                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none" *ngIf="currentType == 'Project Task'">
                <mat-icon class="mr-12 mt-12"></mat-icon>
                <mat-form-field fxFlex>
                    <mat-select (selectionChange)="changeItemType($event)" formControlName="itemType" placeholder="Item Type">
                        <mat-option [value]="iType" *ngFor="let iType of projectTaskItemType">{{ iType }}</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType !== 'Project Task'">

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <mat-select formControlName="refType" placeholder="Related To" required>
                            <mat-option [value]="refType.value" *ngFor="let refType of relates">{{ refType.label | capitalizeFirst}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <input type="hidden" formControlName="refId" required/>
                        <input type="text" matInput
                                [value]="displayName(activityForm.value.refName)"
                                [placeholder]="activityForm.getRawValue().refType"
                                [matAutocomplete]="autoRefId"
                                formControlName="refName"
                                required>
                        <mat-autocomplete #autoRefId="matAutocomplete"
                                          [displayWith]="displayName"
                                          (optionSelected)="selectRef($event)">
                            <mat-option *ngFor="let ref of filteredRefs" [value]="ref">
                                {{ ref.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <!-- <div *ngIf="refTypeEqualsOrder()" class="mb-24" fxFlex fxFlex.xs="none">
                        <mat-form-field fxFlex>
                            <mat-select formControlName="refType" placeholder="Related To" required>
                                <mat-option [value]="refType.value" *ngFor="let refType of relates">{{ refType.label | capitalizeFirst}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                </div>

            </div>

            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType !== 'Project Task'">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none" *ngIf="currentType !== 'Project Task'">
                    <mat-icon class="mr-12 mt-12">email</mat-icon>
                    <mat-form-field fxFlex>
                        <input value="{{!currentContact ? '' : currentContact.email}}" name="contactEmail" formControlName="contactEmail" placeholder="Email" matInput>
                    </mat-form-field>
                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12">phone</mat-icon>
                    <mat-form-field fxFlex>
                        <input value="{{!currentContact ? '' : currentContact.phone}}" name="phone" autocomplete="off"
                            formControlName="phone" placeholder="Phone" matInput>
                    </mat-form-field>
                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none" *ngIf="currentType == 'Project Task'">
                </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType !== 'Note'">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none"
                    *ngIf="currentType !== 'Project Task'">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <input name="owner" matInput formControlName="owner" matInput
                            [placeholder]="(currentType == 'Project Task') ? 'Sales Rep' : 'Owner'" autocomplete="off"
                            [matAutocomplete]="autoOwner">
                        <mat-autocomplete #autoOwner="matAutocomplete" [displayWith]="displayName">
                            <mat-option *ngFor="let owner of filteredUsers" [value]="owner">
                                {{ owner.name | capitalizeFirst }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <mat-select  formControlName="assignedType" placeholder="Assigned Type" (selectionChange)="assignedTypeChange($event)">
                            <mat-option [value]="assignedType.id" *ngFor="let assignedType of assignedTypes">{{ assignedType.text }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex >
                        <input name="assigned" formControlName="assigned" matInput placeholder="Assigned To"
                            [matAutocomplete]="autoAssigned" required>
                        <mat-autocomplete #autoAssigned="matAutocomplete" [displayWith]="displayName">
                            <mat-option *ngFor="let assigned of filteredUsers" [value]="assigned">
                                {{ assigned.name | capitalizeFirst }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>


            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType !== 'Project Task'">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">

                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">

                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType == 'Task' || currentType == 'Call'">

                <h3 class="pl-36">Reminder</h3>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <input type="number" name="reminderTimeInt" formControlName="reminderTimeInt" placeholder="Duration" matInput>
                    </mat-form-field>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <mat-select formControlName="reminderTimeMetric" placeholder="Metric">
                            <mat-option [value]="reminderTimeMetric.value" *ngFor="let reminderTimeMetric of metrics">{{ reminderTimeMetric.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <mat-select formControlName="reminderTimeWhen" placeholder="When">
                            <mat-option [value]="reminderTimeWhen.value" *ngFor="let reminderTimeWhen of when">{{ reminderTimeWhen.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType == 'Quality Control'">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <mat-select formControlName="reason" placeholder="Select Reason">
                            <mat-option [value]="reason.value" *ngFor="let reason of reasons">{{ reason.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <mat-select formControlName="impact" placeholder="Impact">
                            <mat-option [value]="impact.value" *ngFor="let impact of impacts">{{ impact.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType == 'Quality Control'">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <mat-select formControlName="department" placeholder="Department(s)">
                            <mat-option [value]="department.value" *ngFor="let department of departments">{{ department.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex>
                        <mat-icon class="mr-12 mt-12"></mat-icon>
                        <mat-form-field fxFlex>
                            <input type="number" name="lostMinutes" formControlName="lostMinutes" placeholder="Time Lost: Minutes" matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType == 'Quality Control'">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-checkbox formControlName="notify">Notify Users</mat-checkbox>
                </div>
            </div>


            <div fxLayout="row" fxLayout.xs="column" *ngIf="activityForm.getRawValue().refType == 'Order' || activityForm.getRawValue().refType == 'Quote'">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <mat-select formControlName="orderTab" placeholder="Order Tab">
                            <mat-option [value]="tabs.value" *ngFor="let tabs of orderTabList">{{ tabs.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                 <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none"  *ngIf="activityForm.getRawValue().orderTab == 'Documents'">
                        <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <mat-select formControlName="orderDoc" placeholder="Order Doc">
                            <mat-option [value]="docs.value" *ngFor="let docs of orderDocList">{{ docs.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <div fxLayout="row" fxLayout.xs="column" *ngIf="!((currentType == 'Note') || (currentType == 'Quality Control'))">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <mat-select formControlName="status" placeholder="Status" required>
                            <mat-option [value]="status.value" *ngFor="let status of activityStatus">{{ status.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none" *ngIf="currentType == 'Meeting' || currentType == 'Call'">
                    <div fxLayout="row" fxLayout.xs="column">
                        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex>
                            <mat-icon class="mr-12 mt-12"></mat-icon>
                            <mat-form-field fxFlex>
                                <input type="number" name="hours" formControlName="hours" placeholder="Duration: Hour" matInput>
                            </mat-form-field>
                        </div>
                        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex>
                            <mat-icon class="mr-12 mt-12"></mat-icon>
                            <mat-form-field fxFlex>
                                <input type="number" name="minutes" formControlName="minutes" placeholder="Duration: Minutes" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none" *ngIf="currentType == 'Task'">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <mat-select formControlName="taskType" placeholder="Task Type">
                            <mat-option [value]="taskType.value" *ngFor="let taskType of taskTypes">{{ taskType.label | capitalizeFirst }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType == 'Call'">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                <mat-icon class="mr-12 mt-12"></mat-icon>
                <mat-form-field fxFlex>
                    <mat-select formControlName="direction" placeholder="Call Direction">
                        <mat-option [value]="callDirection.value" *ngFor="let callDirection of callDirections">{{ callDirection.label }}</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">

                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType == 'Task' || currentType == 'Call' || currentType == 'Meeting' || currentType == 'Note' || currentType == 'Email' || currentType == 'E-Mail'">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix></mat-datetimepicker-toggle>
                        <mat-datetimepicker #datetimePicker type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                        <input matInput formControlName="dueDate" [matDatetimepicker]="datetimePicker" required autocomplete="false" placeholder="Due Date">
                    </mat-form-field>
                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none" *ngIf="action =='edit'">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <input matInput formControlName="dateEntered" autocomplete="false" placeholder="Date Entered" [readonly]="isReadOnly">
                    </mat-form-field>
                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none" *ngIf="currentType == 'Task' || currentType == 'Project Task'">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <mat-select formControlName="priority" placeholder="Priority">
                            <mat-option [value]="priority.value" *ngFor="let priority of priorities">{{ priority.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none" *ngIf="currentType == 'Meeting'">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <input name="location" formControlName="location" placeholder="Location" matInput required>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType == 'Project Task' && currentItemType != 'Custom'">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                    <mat-select formControlName="decoTypeId"
                                placeholder="Decoration Type"
                                (selectionChange)="selectDecoType($event)">
                        <mat-option [value]="dtype.id"
                                *ngFor="let dtype of filteredDecoType">
                            {{ dtype.name }}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <input name="decoColor" formControlName="decoColor" placeholder="Decoration Color" matInput>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType == 'Project Task'">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none"  *ngIf="currentItemType !== 'Custom'">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <input name="itemColor" formControlName="itemColor" placeholder="Item Color" matInput>
                    </mat-form-field>
                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                <mat-icon class="mr-12 mt-12"></mat-icon>
                <mat-form-field fxFlex>
                    <mat-select formControlName="firmDirection" placeholder="Firm Direction">
                        <mat-option [value]="fd" *ngFor="let fd of projectTaskItemFirmDirection">{{ fd }}</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none" *ngIf="currentItemType == 'Custom'">
                </div>
            </div>


            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType == 'Project Task'">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <input name="itemLink" formControlName="itemLink" placeholder="Item Link" matInput required>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType !== 'Note' && currentType !== 'Email' && currentType !== 'E-Mail'">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <textarea name="description" formControlName="description" placeholder="Description" matInput type="text" rows="2">{{ activityForm.get('description').value }}</textarea>
                    </mat-form-field>
                </div>
            </div>


            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType == 'Note'">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <textarea name="note" formControlName="note" placeholder="Note" matInput type="text" rows="4">{{ activityForm.get('note').value }}</textarea>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType == 'Note'">
                <div class="customer-view-notes" fxLayout="column">
                    <div class="mat-title" fxFlex="none">Attachment</div>
                    <input type="hidden" formControlName="file" />
                    <div class="feature-image" fxFlex>
                        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="upload-button"
                            *ngIf="!activity.value.file">
                            <mat-icon class="font-size-100 secondary-text h-100 w-100">file_upload</mat-icon>
                            <input type="file" formControlName="notesFile" id="uploadNoteFile" (change)="onFileUploadEventForNote($event)" hidden
                                #uploadNoteFile>
                            <button mat-stroked-button color="accent" (click)="uploadNoteFile.click()">Choose
                                File For Notes</button>
                        </div>
                        <div class="uploaded-image" *ngIf="activity.value.file">
                                <a href="{{activity.value.file}}" target=_new><mat-icon>attach_file</mat-icon> <span class="feature-image-title">{{ GetNoteImageFilename(activity.value.file) }}</span></a> <mat-icon color="warn" class="remove-notes-Image" (click)="removeNoteImage()">delete</mat-icon>
                        </div>
                    </div>
                    </div>
            </div>


            <div fxLayout="column" *ngIf="currentType == 'Email' || 'E-Mail'">
                <input type="hidden" formControlName="description"/>
                <div class="mx-36" fxLayout="row" fxLayout.xs="column">
                    <div [innerHTML]="activity.value.description | cleanHtml"></div>
                </div>
            </div>


            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType == 'Project Task' && activityForm.getRawValue().refType == 'Project'">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                    <mat-icon class="mr-12 mt-12"></mat-icon>
                    <mat-form-field fxFlex>
                        <input type="hidden" formControlName="artworkCustomerId" />
                        <input type="text" matInput
                                [value]="displayName(activityForm.value.artworkCustomerName)"
                                placeholder="Customer For Artwork/File"
                                [matAutocomplete]="autoArtworkCustomerName"
                                formControlName="artworkCustomerName"
                                >
                        <mat-autocomplete #autoArtworkCustomerName="matAutocomplete"
                                          [displayWith]="displayName"
                                          (optionSelected)="selectCustomerRef($event)">
                            <mat-option *ngFor="let ref of filteredCustomers" [value]="ref">
                                {{ ref.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="mb-24" fxLayout="row" fxLayoutAlign="center center" fxFlex fxFlex.xs="none">

                <div class="customer-view" fxLayout="column">
                    <div class="mat-title" fxFlex="none">Artwork/File</div>
                    <div class="feature-image" fxFlex>
                        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="upload-button"
                            *ngIf="!activity.value.featureImage">
                            <mat-icon class="font-size-100 secondary-text h-100 w-100">file_upload</mat-icon>
                            <input type="file" formControlName="uploadAwsFile" id="uploadAwsFile" (change)="onFileUploadEventForAws($event)" hidden
                                #uploadAwsFile>
                            <button mat-stroked-button color="accent" (click)="uploadAwsFile.click()">Choose
                                File</button>
                        </div>
                        <!--div fxFlex fxLayout="column" fxLayoutAlign="center center"
                            *ngIf="!activity.value.featureImage && featureImageLoading">
                            <mat-spinner></mat-spinner>
                        </div-->
                        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="remove-button"
                            *ngIf="activity.value.featureImage">
                            <button mat-raised-button color="warn" (click)="removeFeaturedImage()">
                                <mat-icon>delete</mat-icon> Remove
                            </button>
                        </div>
                        <div class="uploaded-image" *ngIf="activity.value.featureImage">
                            <img [src]="activity.value.thumbnail" fxFlex
                                [default]="'assets/images/ecommerce/product-image-placeholder.png'">
                        </div>
                    </div>
                    <div class="px-8 text-center" fxLayout="column" fxLayoutAlign="start stretch"
                        *ngIf="activity.value.thumbnail" title="{{ GetFeaturedImageFilename(activity.value.thumbnail) }}">
                        <h6><span class="feature-image-title">{{ GetFeaturedImageFilename(activity.value.thumbnail) }}</span>
                        </h6>
                    </div>
                    </div>

                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" *ngIf="currentType == 'Project Task' && activityForm.getRawValue().refType == 'Project'">
                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex fxFlex.xs="none">
                </div>
            </div>
        </form>

    </mat-dialog-content>

    <mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button *ngIf="action !=='edit'"
                mat-raised-button
                (click)="create()"
                class="save-button mat-accent"
                aria-label="SAVE">
             SAVE
            </button>

            <button *ngIf="action =='edit'"
                    mat-raised-button
                    (click)="update()"
                    class="save-button mat-accent"
                    aria-label="SAVE">
                SAVE
            </button>

            <div *ngIf="activity.value.emailAttachments && activity.value.emailAttachments.length > 0" class="ml-16 mail-attachments" fxLayout="row" fxLayoutAlign="start center">

                <div class="title mr-16">
                    <span>Attachments</span>
                    ({{activity.value.emailAttachments.length}})
                </div>

                <div class="attachment-list" fxLayout="row wrap" fxLayoutAlign="start start">

                    <div class="attachment mr-8" fxLayout="column"
                        *ngFor="let attachment of activity.value.emailAttachments">

                        <div fxLayout="column">
                            <a (click)="download(attachment.filename)">{{attachment.filename}}</a>
                            <div class="size">({{attachment.size}})</div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </mat-dialog-actions>

<!--app-activities-list [projectTask]="activity" [isActivities]="true" fxLayout="column"></app-activities-list-->

</div>

<div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
