@import "src/@fuse/scss/fuse";

.notification-groups-list {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .mat-table {
    box-shadow: none;
    margin-top: 64px;
    position: static;
    overflow-y: auto;

    .mat-header-row {
      background: white;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 1;
    }

    .mat-column-checkbox {
      flex: 0 1 64px;

      .mat-checkbox-ripple {
        display: none !important; //fix for broken rendering
      }
    }

    .mat-column-buttons {
      flex: 0 1 80px;
    }

    .mat-row {
      cursor: pointer;

      .mat-cell {
        min-width: 0;

        &.mat-column-detail-button {
          flex: 0 1 auto;
          padding: 0 24px 0 0;

          @include media-breakpoint('gt-md') {
            display: none;
          }
        }
      }
    }
  }

  .mat-paginator {
    flex: none;
  }
}

.account-name-tooltip {
  white-space: pre-line;
  font-size: 1.2em;
}

.remove-account-dialog {

  .mat-dialog-actions {
    display: block;

    .mat-button {
      float: right;
    }
  }
}
.breaking{
  white-space: break-spaces;
}
