<div id="filemanager-details" class="page-layout simple left-sidenav inner-sidenav">


  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="row" fxLayoutAlign="space-between center">


    <!-- APP TITLE -->
    <div fxLayout="row" fxLayoutAlign="start center">

      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16">folder</mat-icon>
        <div class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          File Manager
        </div>
      </div>

    </div>
    <!-- / APP TITLE -->
  </div>

		<app-aws-file-manager
		class="w-100-p"
		[recordId]="accountId"
		[accountId]="accountId"
		[awsFileManagerType]="awsFileManagerType"
		></app-aws-file-manager>
</div>

<div class="loading"
    [@animate]="{value:'*',params:{opacity:1}}"
    *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
