.mat-tab-group.fixed {
    margin-top: 64px;
    flex: 1 1 auto;
    max-width: 100%;

    > .mat-tab-header {
      position: absolute;
      top: 0;
      width: 100%;
    }
    > .mat-tab-body-wrapper {
      flex: 1 1 auto;
      max-width: 100%;

      > .mat-tab-body-content {
        display: flex;
      }
    }

    > .mat-tab-body-wrapper .tab-content {
      flex: 1 1 auto;
      max-width: 100%;

      &.products {
        display: flex;

        .product-row {
          cursor: pointer;
        }

        .product-image {
          height: 48px;
          widows: auto;
        }
      }
    }
  }