.core-currency {
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 0px;
}

.currency-settings-title-width {
    width: 100% !important;
}

.base-currency {
    padding-right: 10px;
}

.half-height {
    height: 50%;
}


.mat-form-field-infix {
    border: none !important;
}

.grn-sync-btn {
    background-color:  #43a047 !important;
    color: white !important;
}


