<div class="h-4 blue-500-bg"></div>
<div class="list-card-details">
    <div class="list-card-name condensed"
         fxLayout="row" 
         fxLayoutAlign="space-between center"
         [matTooltip]="tooltip"
         [matTooltipClass]="'opportunity-card-tooltip'">
        <div fxLayout="row"
             fxLayoutAlign="space-between center">
            <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="onSelect($event)">
            </mat-checkbox>
            <span class="ml-8 mr-4">{{ card.name }}</span>
        </div>
        <span class="accent-800-fg">${{card.amount | number }}</span>
    </div>
    <div>{{ card.opportunityType }}</div>
    <div>{{ card.businessType }}</div>
    <div>{{ card.salesStage }}</div>
    <div>{{ card.eventDate }}</div>
    <div>{{ card.accountName }}</div>
    <div>{{ card.contactName }}</div>
    <div>{{ card.opportunityNo }}</div>
</div>
