.closer {
      margin-right: 25px;
    }
    .toolbar {
        border-bottom-color: rgba(0, 0, 0, 0.12) !important;
    }

    .boxy-width {
        width: 140px;
    }

.full-width-here {
    width: 100%;
}
