<div>
  <div *ngIf="editPricing" class="pricing-margin-container">
    <div>
      <span class="mat-title">Price Margins</span>
      <h3 *ngIf="editingPricingName !== '' || editingPricingName != undefined">
        {{ editingPricingName }}
      </h3>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="pricingMarginForm">
      <mat-form-field class="full-width-form">
        <mat-select
          formControlName="margin"
          (selectionChange)="selectionChange($event)"
        >
          <br />
          <mat-option
            *ngFor="let pricingMargin of pricingMargins"
            [value]="pricingMargin.type"
          >
            {{ pricingMargin.margin }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br />

      <ul [ngSwitch]="currentMargin">
        <div *ngSwitchCase="'1'">
          <button
            mat-button
            [disabled]="disableAddPercentage"
            (click)="savePercentageWithPricingLevel()"
            color="accent"
          >
            Save
          </button>
          <mat-divider></mat-divider>
          <mat-form-field>
            <input
              matInput
              placeholder="40"
              formControlName="percentageRange"
            />
            <span matSuffix>%</span>
            <mat-error *ngIf="pricingMarginForm.get('percentageRange').invalid">
              Margin on Cost is required
            </mat-error>
          </mat-form-field>
          &nbsp; &nbsp;
        </div>

        <div *ngSwitchCase="'2'">
          <br />
          &nbsp; &nbsp;
          <button
            mat-button
            [disabled]="disableAddMargin"
            (click)="addToCostMarginList()"
            color="accent"
          >
            Add
          </button>

          &nbsp;&nbsp;
          <button
            mat-button
            [disabled]="disableAddAllMargins"
            (click)="savePercentageMargin($event)"
            color="accent"
          >
            Save
          </button>
          <br />
          <mat-divider></mat-divider>
          <br />
          <mat-form-field class="half-with-input">
            <label for="cost">Cost</label>
            <input matInput formControlName="valueCost" />
            <mat-error *ngIf="pricingMarginForm.get('valueCost').invalid">
              Value is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-with-input right-container">
            <label for="margin">Margin</label>
            <input matInput formControlName="valueMargin" />
            <span matSuffix>%</span>
            <mat-error *ngIf="pricingMarginForm.get('valueMargin').invalid">
              Margin Percentage is required
            </mat-error>
          </mat-form-field>

          <mat-list dense *ngFor="let item of costMarginList; let i = index">
            <mat-list-item
              >Cost: {{ item.cost }} Margin: {{ item.margin }} %
              <button mat-button (click)="removeFromList(i)">X</button>
            </mat-list-item>
          </mat-list>
        </div>
        <div *ngSwitchCase="'3'">
          <button
            mat-button
            [disabled]="disableAddPercentage"
            (click)="savePercentage()"
            color="accent"
          >
            Save
          </button>
          <mat-divider></mat-divider>
          <br />
          <mat-form-field>
            <input matInput placeholder="40" formControlName="percentage" />
            <span matSuffix>%</span>
            <mat-error *ngIf="pricingMarginForm.get('percentage').invalid">
              Percentage is required
            </mat-error>
          </mat-form-field>
          &nbsp;&nbsp;
        </div>
        <!-- <div *ngSwitchDefault>Choose a Option From Drop Down</div> -->
      </ul>
    </form>
  </div>

  <div class="pricing-margin-container">
    <div>
      <span class="mat-title">Add pricing level</span>
    </div>
    <mat-divider></mat-divider>
    <br />
    &nbsp; &nbsp;
    <button
      mat-button
      [disabled]="disableAddPricingMethods"
      (click)="addPricingLevelMethodList()"
      color="accent"
    >
      Add
    </button>
    <br />
    <mat-divider></mat-divider>
    <br />

    <form [formGroup]="pricingLevelForm">
      <mat-form-field class="full-width-form">
        <input
          placeholder="Pricing Level"
          matInput
          formControlName="pricingLevel"
        />
        <mat-error *ngIf="pricingLevelForm.get('pricingLevel').invalid">
          PricingLevel is required
        </mat-error>
      </mat-form-field>
    </form>

    <mat-list>
      <div mat-subheader>Pricing</div>
      <mat-list-item
        *ngFor="let pricing of pricingLevelMethodList; let index = i"
      >
        <button
          *ngIf="pricing.id !== '1' || pricing.name !== '1'"
          (click)="removeFromList(pricing.id, index)"
          mat-icon-button
          color="warn"
          aria-label="Delete Pricing"
        >
          <mat-icon>delete</mat-icon>
        </button>
        &nbsp; &nbsp;
        <button
          (click)="edit(pricing, index)"
          mat-icon-button
          color="primary"
          aria-label="Edit Pricing"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <div mat-line>Name: {{ pricing.name }}</div>
        <div mat-line>&nbsp; &nbsp; Percentage: {{ pricing.percentage }}</div>
        <div mat-line>
          &nbsp; &nbsp; Margin On Cost: {{ pricing.quantityRange[0] }}
        </div>
        <div mat-line>
          &nbsp; &nbsp; Margin On Cost Range:
          <span *ngFor="let item of pricing.costRange">
            <br />
            &nbsp; &nbsp; &nbsp; &nbsp; Cost: {{ item.cost }} Margin:
            {{ item.margin }}
          </span>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<div>
  <!-- 
    <div
      class="loading"
      [@animate]="{ value: '*', params: { opacity: 1 } }"
      *ngIf="loading"
    >
      <mat-spinner></mat-spinner>
    </div>


    <mat-tab-group
      [selectedIndex]="selected.value"
      (selectedTabChange)="selectedTabChanged($event)"
      (selectedIndexChange)="selected.setValue($event)"
    >
      <mat-tab
        [label]="productLevel.name"
        *ngFor="let productLevel of pricingLevels; let index = index"
      >
        <ng-template matTabContent>
          <mat-grid-list cols="3" [rowHeight]="minlistLenghtHeight">
            <mat-grid-tile>
              <h3 *ngIf="!showForm">Add New Pricing Method</h3>
              <br />
              <button
                matTooltip="Add Pricing Method"
                class="new-pricing-button"
                mat-button
                (click)="toggleNewPricingForm()"
              >
                <mat-icon>add</mat-icon>
              </button>
              <button
                matTooltip="Delete Pricing Method"
                *ngIf="index !== 0"
                class="new-pricing-button"
                mat-button
                (click)="deletePricingLevel()"
              >
                <mat-icon>remove</mat-icon>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div> -->
</div>
