@import "src/@fuse/scss/fuse";

:host {

    #po-modern {

        &.modern {
            padding: 0;
            overflow: auto;

            .po-container {
                padding: 0px 8px;
                
                .card-purchase-order {
                    width: 808px;
                    min-width: 808x;
                    max-width: 808px;
                    padding: 12px 44px 12px 44px;
                    overflow: hidden;
                    background: #FFFFFF;
                    @include mat-elevation(7);

                    .header-purchase-order {

                        .ids {
                            margin-top: 0px;
                            line-height: 22px;
                            color: rgba(0, 0, 0, 0.54);
                            width: 316px !important;

                            .seller {

                                .logo {
                                    max-width: 316px !important;
                                    max-height: 180px !important;
                                }
                            }

                            .client {
                                margin-top: 12px;
                                .label {
                                    font-size: 16px;
                                    font-weight: 400;
                                }
                            }

                            .divider {
                                width: 1px;
                                margin: 0 8px;
                                background-color: transparent;
                            }

                            .detail {
                                color: rgba(0, 0, 0, 1);
                            }
                
                        }

                        .order-title {
                            width: 100%;
                            font-size: 30px;
                            font-weight: 400;
                            color: rgba(0, 0, 0, 0.54);
                            text-align: center;
                            span {
                                padding-left: 30px;
                            }
                        }

                        .summary {
                            font-size: 14px;
                            width: 380px !important;

                            .label {
                                color: rgba(0, 0, 0, 0.54);
                                text-align: right;
                                padding-right: 16px;
                            }

                            .value {
                                color: rgba(0, 0, 0, 1);
                            }

                            .code-title {
                                font-size: 30px;
                                font-weight: 400;
                            }

                            .code {
                                font-size: 25px;
                                font-weight: 300;

                                .label{
                                    font-size: 20px;
                                }

                                td {
                                    padding-bottom: 32px;
                                }
                            }
    
                        }
                    }

                    .content-purchase-order {

                        .po-table {
                            margin-top: 36px;
                            font-size: 13px;

                            .title {
                                font-size: 13px;
                            }

                            .item-number {
                                max-width: 52px;
                                overflow-wrap: break-word;
                                word-wrap: break-word;
                                hyphens: auto;
                            }

                            .product-description {
                                font-size: 11px;
                                color: rgba(0, 0, 0, 0.54);
                                max-width: 538px;
                                white-space: pre-wrap;
                                text-align:justify;
                            }
                            .deco-description {
                                font-size: 11px;
                                color: rgba(0, 0, 0, 0.54);
                                margin-top: 4px;
                            }

                            .detail {
                                margin-top: 8px;
                                font-size: 11px;
                                color: rgba(0, 0, 0, 0.54);
                                max-width: 360px;
                            }

                            .image-item {
                                flex: 0 1 84px;
                    
                                .product-image {
                                    width: auto;
                                    height: 52px;
                                    // border: 1px solid rgba(0, 0, 0, .12);
                                }
                            }

                            tr td.description {
                                padding-bottom: 0px !important;
                                padding-top: 0px !important;
                                border: 0;
                            }
                            
                            tr td.noBorder {
                                border: 0;
                                font-size: 13px;
                                color: rgba(0, 0, 0, 0.712);
                                padding-top: 8px !important;
                                padding-bottom: 8px !important;

                                .title {
                                    width: 100px !important;
                                    text-align: left;                                    
                                }

                                .title-addon {
                                    width: 250px !important;
                                    text-align: left;  
                                }
                                
                                .image-space {
                                    width: 50px !important;
                                }

                                .image {
                                    flex: 0 1 100px;
                                    text-align: center;

                                    .decoration-image {
                                        height: auto;
                                        width: auto;                
                                        max-width: 60px;
                                        max-height: 60px;
                                        background-size: cover;
                                    }
                                }

                                .name {
                                    max-width: 130px !important;
                                    min-width: 130px !important;
                                    text-align: left;                                    
                                }

                                .location {
                                    max-width: 130px !important;
                                    min-width: 130px !important;
                                    text-align: left;  
                                }
                                
                                .price {
                                    max-width: 83px !important;
                                    min-width: 83px !important;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;                                    
                                    text-align: right;                                    
                                }

                                .quantity {
                                    max-width: 50px !important;
                                    min-width: 50px !important;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    text-align: right;                                    
                                }

                                .total {
                                    max-width: 83px !important;
                                    min-width: 83px !important;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;                                    
                                    text-align: right;                                    
                                }
                            }

                            tr td.border {
                                border: 0;
                                font-size: 13px;
                                color: rgba(0, 0, 0, 0.712);
                                padding-top: 8px !important;
                                padding-bottom: 8px !important;
                                border-bottom: 1px solid;
                                border-bottom-color: lightgray;

                                .title {
                                    width: 100px !important;
                                    text-align: left;                                    
                                }

                                .title-addon {
                                    width: 250px !important;
                                    text-align: left;  
                                }

                                .image-space {
                                    width: 50px !important;
                                }
                                
                                .image {
                                    flex: 0 1 100px;
                                    text-align: center;

                                    .decoration-image {
                                        height: auto;
                                        width: auto;                
                                        max-width: 60px;
                                        max-height: 60px;
                                        background-size: cover;
                                    }
                                }

                                .name {
                                    max-width: 130px !important;
                                    min-width: 130px !important;
                                    text-align: left;                                    
                                }

                                .location {
                                    max-width: 130px !important;
                                    min-width: 130px !important;
                                    text-align: left;  
                                }

                                .price {
                                    max-width: 83px !important;
                                    min-width: 83px !important;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;                                    
                                    text-align: right;                                    
                                }

                                .quantity {
                                    max-width: 50px !important;
                                    min-width: 50px !important;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    text-align: right;                                    
                                }

                                .total {
                                    max-width: 83px !important;
                                    min-width: 83px !important;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;                                    
                                    text-align: right;                                    
                                }
                            }

                            .first-line {
                                border: 0;
                                border-top: 1px solid;
                                border-top-color: lightgray;
                            }

                            .fixed-width-name-1 {
                                min-width: 242px !important;
                            }

                            .fixed-width-name-2 {
                                min-width: 282px !important;                            
                            }

                            .fixed-width-name-3 {
                                min-width: 342px !important;
                            }
                            
                            .fixed-width-color {
                                max-width: 74px !important;
                                min-width: 74px !important;
                                overflow-wrap: break-word;
                            }
                            
                            .fixed-width-total {
                                max-width: 120px !important;
                                min-width: 100px !important;
                                text-align: right;
                            }

                            .fixed-width-qty {
                                max-width: 80px !important;
                                min-width: 50px !important;
                                text-align: right;
                            }

                            .fixed-width-price {
                                max-width: 83px !important;
                                min-width: 83px !important;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                text-align: right;
                            }
                        }

                        .po-table-footer {
                            margin: 32px 0 48px 0;

                            tr {

                                td {
                                    text-align: right;
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: rgba(0, 0, 0, 0.54);
                                    border-bottom: none;
                                    padding: 8px 24px;

                                    &:first-child {
                                        text-align: left;
                                    }
                                }

                                &.discount {

                                    td {
                                        padding-bottom: 20px;
                                    }
                                }

                                &.total {

                                    td {
                                        padding: 20px 24px;
                                        border-top: 1px solid rgba(0, 0, 0, 0.12);
                                        font-size: 30px;
                                        font-weight: 300;
                                        color: rgba(0, 0, 0, 1);
                                    }
                                }
                            }
                        }
                    }

                    .footer-purchase-order {

                        .note {
                            font-size: 14px;
                            font-weight: 500;
                            margin-bottom: 6px;
                        }
                        .pre {
                            line-height: 1.6;
                            white-space: pre-wrap;
                        }                 

                        // IE10 fix
                        .logo, .small-note {
                            -ms-flex: 0 1 auto;
                        }

                        .logo {
                            width: 32px;
                            min-width: 32px;
                            margin-right: 24px;
                        }

                        .small-note {
                            font-size: 11px;
                            font-weight: 500;
                            color: rgba(0, 0, 0, 0.54);
                            line-height: 18px;
                            max-width: 100% !important;
                            word-wrap: break-word !important;
                            margin-bottom: 12px !important;
                        }
                        .footer-note {
                            font-size: 11px;
                            font-weight: 500;
                            color: rgba(0, 0, 0, 0.54);
                            line-height: 18px;
                            max-width: 100% !important;
                            word-wrap: break-word !important;
                            margin-bottom: 12px !important;
                            border-top: 2px solid;
                            border-top-color: lightgray;
                        }
                        hr {
                            display: block;
                            height: 1px;
                            border: 0;
                            border-top: 1px dotted rgba(0, 0, 0, 0.329);
                            margin: 1em 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

}