<div id="reset-password" fxLayout="column" fusePerfectScrollbar>

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center"
         *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
	            <img class="logo-icon" src="assets/images/logos/logo.png">
	            <img class="logo-icon1" src="assets/images/logos/dvance.png">
            </div>


        <div id="reset-password-form">

            <div class="title">RESET YOUR PASSWORD</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="resetPasswordFormErrors.email.required">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordFormErrors.email.required && resetPasswordFormErrors.email.email">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password">
                    <mat-error *ngIf="resetPasswordFormErrors.password.required">
                        Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Password (Confirm)" formControlName="passwordConfirm">
                    <mat-error *ngIf="resetPasswordFormErrors.passwordConfirm.required">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="resetPasswordFormErrors.passwordConfirm.passwordsNotMatch">
                        Passwords must match
                    </mat-error>
                </mat-form-field>
				<div class="message-box error" *ngIf="resetPasswordFormErrorsMsg !=''">
                    {{resetPasswordFormErrorsMsg}}
				</div>
				<div class="message-box error" *ngIf="resetPasswordInvalidToken !=''">
                    Password reset link is invalid or expired, Please <a class="link msg-box-link" [routerLink]="'/forgot-password'">click here</a> to raise request again.
				</div>

				<div class="message-box" *ngIf="resetPasswordFormSuccessMsg !=''">
                    {{resetPasswordFormSuccessMsg}}
				</div>
                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="RESET MY PASSWORD" (click)="changePassword()" [disabled]="resetPasswordForm.invalid">
                    RESET MY PASSWORD
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">Go back to login</a>
            </div>

        </div>

    </div>

</div>
<div class="loading" [@animate]="{value:'*',params:{opacity:1}}" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>