<div id="decoration-fees" class="page-layout carded fullwidth inner-scroll list-page">

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header white-fg h-80"
           fxLayout="column" fxLayoutAlign="center center"
           fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

          <!-- APP TITLE -->
          <div class="logo my-12 m-sm-0" fxFlex.gt-xs="1 0 auto"
                  fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">style</mat-icon>
              <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Decoration Fees</span>
          </div>
          <!-- / APP TITLE -->
      </div>
      <!-- / HEADER -->

      <!-- CONTENT  -->
      <mat-sidenav-container class="content-card">
          <mat-sidenav class="sidenav primary-bg" position="start" opened="true" mode="side"
              fuseMatSidenavHelper="contacts-sidenav">
              <mat-list class="p-0">
                  <mat-list-item class="mat-accent-bg" matRipple
                                 (click)="newDecoCharge()">
                      <mat-icon>add</mat-icon>
                      <span class="ml-8">Decoration Fee</span>
                  </mat-list-item>
                  <mat-list-item class="mat-accent-bg" matRipple
                                  (click)="clearFilters()">
                      <mat-icon>layers_clear</mat-icon>
                      <span class="ml-8">Clear Filters</span>
                  </mat-list-item>
                  <mat-list-item class="mat-warn-bg" matRipple
                                  (click)="deleteSelectedFees()">
                      <mat-icon>delete</mat-icon>
                      <span class="ml-8">Delete</span></mat-list-item>
              </mat-list>
          </mat-sidenav>

          <div class="toolbar">
              <div fxFlex="row">
                  <div fxFlex="row" fxLayoutAlign="start center">
                      <button mat-icon-button fxHide.gt-md
                              fuseMatSidenavToggler="contacts-sidenav">
                          <mat-icon>menu</mat-icon>
                      </button>

                      <button mat-raised-button color="accent"
                              class="text-capitalize mr-8"
                              fxHide fxShow.gt-md
                              (click)="newDecoCharge()">
                          <mat-icon>add</mat-icon>Decoration Fee
                      </button>

                      <button mat-raised-button color="accent"
                              class="text-capitalize mr-8"
                              (click)="clearFilters()"
                              fxHide fxShow.gt-md>
                          <mat-icon>layers_clear</mat-icon> Clear Filters
                      </button>

                      <button mat-raised-button color="warn"
                              class="text-capitalize mr-8"
                              fxHide fxShow.gt-md
                              (click)="deleteSelectedFees()">
                          <mat-icon>delete</mat-icon> Delete
                      </button>
                  </div>

                  <div class="toolbar-separator"></div>

                  <button mat-button class="text-capitalize more-actions"
                          [matMenuTriggerFor]="selectMenu">
                      More Actions
                      <mat-icon>arrow_drop_down</mat-icon>
                  </button>
                  <mat-menu #selectMenu="matMenu">

                  </mat-menu>

              </div>
          </div>

          <app-decoration-fees-list></app-decoration-fees-list>
      </mat-sidenav-container>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
