<mat-table #table matSort
           [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}"
           [formGroup]="filterForm"
           (matSortChange)="sort($event)">

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <mat-header-cell *cdkHeaderCellDef>
            <mat-checkbox (change)="toggleAll($event)"
                        [checked]="selection.checkedAll | async"
                        [indeterminate]="selection.checkedAny | async">
            </mat-checkbox>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let source">
            <mat-checkbox [checked]="checkboxes[source.id]"
                          (change)="onSelectedChange(source.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="itemName">
        <mat-header-cell class="header-cell" *cdkHeaderCellDef (keyup.enter)="filterSources()">
            <span mat-sort-header>Factory Item Name</span>
            <input class="form-control" formControlName="itemName" placeholder="">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let source">
            <p class="text-truncate">{{source.itemName}}</p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="itemNumber">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-xs *cdkHeaderCellDef (keyup.enter)="filterSources()">
            <span mat-sort-header>Factory Item Number</span>
            <input class="form-control" formControlName="itemNumber" placeholder="">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let source" fxHide fxShow.gt-xs>
            <p class="text-truncate">{{source.itemNumber}}</p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="gcName">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-xs *cdkHeaderCellDef (keyup.enter)="filterSources()">
            <span mat-sort-header>Name</span>
            <input class="form-control" formControlName="gcName" placeholder="">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let source" fxHide fxShow.gt-xs>
            <p class="text-truncate">{{source.gcName}}</p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="gcItemNumber">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef (keyup.enter)="filterSources()">
            <span mat-sort-header>Item Number</span>
            <input class="form-control" formControlName="gcItemNumber" placeholder="">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let source" fxHide fxShow.gt-sm>
            <p class="text-truncate">{{source.gcItemNumber}}</p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="quoteValidThrough">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-sm *cdkHeaderCellDef (keyup.enter)="filterSources()">
            <span mat-sort-header>Quote Valid Through</span>
            <input class="form-control" formControlName="quoteValidThrough" placeholder="">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let source" fxHide fxShow.gt-sm>
            <p class="text-truncate">{{source.quoteValidThrough}}</p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="createdByName">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-md *cdkHeaderCellDef (keyup.enter)="filterSources()">
            <span mat-sort-header>Created By</span>
            <input class="form-control" formControlName="createdByName" placeholder="">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let source" fxHide fxShow.gt-md>
            <p class="text-truncate">{{source.createdByName}}</p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="assignedSalesRep">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-md *cdkHeaderCellDef (keyup.enter)="filterSources()">
            <span mat-sort-header>Assigned To</span>
            <input class="form-control" formControlName="assignedSalesRep" placeholder="">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let source" fxHide fxShow.gt-md>
            <p class="text-truncate">{{source.assignedSalesRep}}</p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="status">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-lg *cdkHeaderCellDef (keyup.enter)="filterSources()">
            <span mat-sort-header>Status</span>
            <input class="form-control" formControlName="status" placeholder="">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let source" fxHide fxShow.gt-lg>
            <p class="text-truncate">{{source.status}}</p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="dateModified">
        <mat-header-cell class="header-cell" fxHide fxShow.gt-lg *cdkHeaderCellDef (keyup.enter)="filterSources()">
            <span mat-sort-header>Date dateModified</span>
            <input class="form-control" formControlName="dateModified" placeholder="">
        </mat-header-cell>
        <mat-cell *cdkCellDef="let source" fxHide fxShow.gt-lg>
            <p class="text-truncate">{{source.dateModified | date}}</p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="buttons">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let source">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteSource(source)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let source; columns: displayedColumns;"
             class="contact"
             (click)="editSource(source)"
             [ngClass]="{'mat-light-blue-50-bg':checkboxes[source.id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>

<mat-paginator #paginator
                [length]="dataSource.total"
                [pageSize]="50"
                [pageSizeOptions]="[5, 10, 20, 50, 100]"
                [showFirstLastButtons]="true"
                (page)="paginate($event)">
</mat-paginator>

<div class="loading"
    [@animate]="{value:'*',params:{opacity:1}}"
    *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
