.add-pricing-margin-container {
    max-width: 300px;
    min-height: 210px;
}

.element-spacer {
    flex: 1 1 auto;
  }

.full-width-form {
    width: 85%;
}

.one-third-input {
    max-width: 29%;
}

.right-container {
    padding-left: 10px;
}

.ranges-container {
    min-height: fit-content;
}

.ranges-form-container {
    min-height: auto;
}

.mat-list {
    overflow: auto;
}

.small-container {
    display: inline-block;
    width: 50px;
}