<div fxLayout="column" fxFlex>
    <div class="toolbar">
        <div fxFlex="row">
            <div fxFlex="row" fxLayoutAlign="start center">
                <button mat-raised-button color="accent"
                        class="text-capitalize mr-8"
                        fxHide fxShow.gt-md
                        (click)="newDecoTypeGroups()">
                    <mat-icon>add</mat-icon> Deco Type Group
                </button>
                <button mat-raised-button color="accent"
                        class="text-capitalize mr-8"
                        (click)="clearFilters()"
                        fxHide fxShow.gt-md>
                    <mat-icon>layers_clear</mat-icon> Clear Filters
                </button>
            </div>
        </div>
    </div>
    <app-deco-type-groups-list fxLayout="column"></app-deco-type-groups-list>
</div>

