.mat-step-header .mat-step-icon-selected, .mat-step-icon-state-done, .mat-step-icon-state-edit{
    background-color: rgb(44,141,192) !important;
}

.title-closer {
    margin: .1em .1em !important;
}

.crimson {
    color: crimson !important;
}

.mat-stepper-horizontal {
    overflow-y: scroll !important;
}

