@import "../order";
:host {
  display: block;
  background: #fff;
  border-radius: 4px;
  margin: 8px;

  // &:hover {
  //   background: rgba(0,0,0, 0.025);
  // }

  .order__item {
    width: 100%;
    border-bottom: 1px solid #f1f1f1;

    &.destroy {
      text-decoration: line-through;
    }

    &__header {
      align-items: center;
      flex-wrap: wrap;

      img {
        max-width: 64px;
        margin-right: 16px;
      }
      .item__preview--edit{
        cursor: pointer;
      }
      @extend %orderColumns;

      .col {
        &--description--group {
          flex: 1;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          @media screen and (max-width: 800px) {
            order: 2;
            flex: .5
          }
        }
        .col--group {
        }
      }

      .summary {
        .mat-icon {
          color: #CCCCCC;
          margin: 0 4px;
        }
      }

      .summary-prd-icons {

        .mat-icon {
          cursor: pointer;
        }
      }
    }

    &__actions {
      padding-left: 16px;
    }

    &__variations {
      border-left: 1px solid #dcdcdc;
      margin-left: 32px;
      position: relative;

      &__toolbar {
        margin-left: 16px;
      }
    }

    &__addons {
      border-left: 1px solid #dcdcdc;
      margin-left: 32px;
      position: relative;

      &__toolbar {
        margin-left: 16px;
      }
    }

    &__expand {
      padding: 0;
    }

    .item-name {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.matrix__rows {
  padding: 0;
}

.order__matrix__item {
  margin-left: 32px;

  .order__item__header {
    img {
      max-width: 32px;
      margin-right: 16px;
    }
  }
}
