<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0" fxFlex="none">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Status Barcodes</span>
  
      <div>
        <button mat-button class="mat-icon-button dialog-close" (click)="dialogRef.close()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  
  </mat-toolbar>
  <mat-dialog-content class="p-24 m-0">
    <div *ngIf="productionService.onStatusListChanged.value.length" fxLayout="row wrap">
      <div class="mr-16 mt-16 mb-16 ml-16" fxLayout="column" fxLayoutAlign="start center" *ngFor="let status of (productionService.onStatusListChanged | async)">
        <p class="status-title">{{ status.label }}</p>
        <img id="st-{{status.id}}">
      </div>
    </div>
  </mat-dialog-content>
</div>