<div id="quote-modern" class="modern page-layout blank" fxLayout="row" fusePerfectScrollbar>

    <div class="quote-container">

        <!-- Quote -->
        <div class="card-quote">

            <!-- HEADER -->

            <div id="header" class="header-quote" fxLayout="row" fxLayoutAlign="start start">

                <div class="ids" fxLayout="column">

                    <div fxLayout="row" class="seller" fxLayoutAlign="center start"
                        *ngIf="quote?.corporateIdentity?.logo">
                        <img class="logo" [src]="quote?.corporateIdentity?.logo">
                    </div>
                    <div fxLayout="row" class="seller" fxLayoutAlign="center start"
                        *ngIf="!quote?.corporateIdentity?.logo">
                        <img *ngIf="logoUrl == ''" class="logo" [src]="'assets/images/logos/karma.png'">
                        <img *ngIf="logoUrl != ''" class="logo" [src]="logoUrl"
                            [default]="'assets/images/logos/karma.png'">
                    </div>

                    <div fxLayout="row" class="client" fxLayoutAlign="start center">
                        <div class="label" fxLayout="row" fxLayoutAlign="end center">
                            <div>CLIENT</div>
                        </div>

                        <div class="divider"></div>


                        <div class="detail">
                            <div class="title">{{quote.shippingCompanyName}}</div>
                            <div class="title">{{quote.shippingCustomerName}}</div>
                            <div class="address">
                                {{quote.shippingStreet}}
                            </div>
                            <div class="address">
                                {{quote.shippingStreet2}}
                            </div>
                            <div class="address">
                                {{quote.shippingCity}} {{quote.shippingState}} {{quote.shipPostalcode}}
                            </div>
                            <div *ngIf="quote.shippingEmail" class="email">
                                {{quote.shippingEmail}}
                            </div>
                            <div *ngIf="quote.shipCountry" class="address">
                                {{quote.shipCountry}}
                            </div>
                            <div *ngIf="quote.shippingPhone" class="address">
                                {{quote.shippingPhone}}
                            </div>

                        </div>
                    </div>
                </div>

                <table class="summary ml-56">

                    <tr class="code-title">
                        <td class="label">{{docLabels.title}}</td>
                        <td class="value">#{{quote.orderNo}}</td>
                    </tr>

                    <tr *ngIf="docOptions[1]?.value && quote.orderDate != '' && quote.orderDate != '0000-00-00'">
                        <td class="label">
                            {{quote.orderType == 'Quote' ? 'Quote Date' : fieldLabel('orderDate', fields)}}</td>
                        <td class="value">{{quote.orderDate}}</td>
                    </tr>

                    <tr *ngIf="docOptions[4]?.value && quote.dueDate != '' && quote.dueDate != '0000-00-00'">
                        <td class="label">{{fieldLabel('dueDate', fields)}}</td>
                        <td class="value">{{quote.dueDate}}</td>
                    </tr>

                    <tr *ngIf="docOptions[0]?.value">
                        <td class="label">{{fieldLabel('finalGrandTotalPrice', fields)}}</td>
                        <td class="value">
                            {{quote.finalGrandTotalPrice | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                        </td>
                    </tr>

                    <tr *ngIf="docOptions[2]?.value && quote.inHandDateBy != '' && quote.inHandDateBy != '0000-00-00'">
                        <td class="label">{{fieldLabel('inHandDateBy', fields)}}</td>
                        <td class="value">{{quote.inHandDateBy}}</td>
                    </tr>

                    <tr *ngIf="docOptions[3]?.value && quote.shipVia !=''">
                        <td class="label">{{fieldLabel('shipVia', fields)}}</td>
                        <td class="value"><span [innerHtml]="quote.shipVia"></span></td>
                    </tr>

                    <tr *ngIf="docOptions[25]?.value  && quote.shippingAccountNo !=''">
                        <td class="label">{{fieldLabel('shippingAccountNo', fields)}}</td>
                        <td class="value">{{quote.shippingAccountNo}}</td>
                    </tr>

                    <tr *ngIf="docOptions[5]?.value && quote.shipDate != '' && quote.shipDate != '0000-00-00'">
                        <td class="label">{{fieldLabel('shipDate', fields)}}</td>
                        <td class="value">{{quote.shipDate}}</td>
                    </tr>

                    <tr *ngIf="docOptions[6]?.value && quote.customerPo != ''">
                        <td class="label">{{fieldLabel('customerPo', fields)}}</td>
                        <td class="value">#{{quote.customerPo}}</td>
                    </tr>

                    <tr *ngIf="docOptions[7]?.value && quote.creditTerms != ''">
                        <td class="label">{{fieldLabel('creditTerms', fields)}}</td>
                        <td class="value">{{ displayCreditTerm(quote.creditTerms) }}</td>
                    </tr>

                    <tr *ngIf="docOptions[8]?.value && quote.salesPerson != ''">
                        <td class="label">{{fieldLabel('salesPerson', fields)}}</td>
                        <td class="value">{{quote.salesPerson}}</td>
                    </tr>

                    <tr *ngIf="docOptions[9]?.value && quote.salesPersonPhone != ''">
                        <td class="label">{{fieldLabel('salesPersonPhone', fields)}}</td>
                        <td class="value">{{quote.salesPersonPhone}}</td>
                    </tr>

                    <tr *ngIf="docOptions[10]?.value && quote.salesPersonEmail != ''">
                        <td class="label">{{fieldLabel('salesPersonEmail', fields)}}</td>
                        <td class="value">{{quote.salesPersonEmail}}</td>
                    </tr>

                    <tr *ngIf="docOptions[11]?.value && quote.csrName && quote.csrName != ''">
                        <td class="label">{{fieldLabel('csrName', fields)}}</td>
                        <td class="value">{{quote.csrName}}</td>
                    </tr>

                    <tr *ngIf="docOptions[12]?.value && quote.csrName && quote.csrName != ''">
                        <td class="label">{{fieldLabel('csrPhone', fields)}}</td>
                        <td class="value">{{quote.csrPhone}}</td>
                    </tr>

                    <tr *ngIf="docOptions[13]?.value && quote.csrEmail && quote.csrEmail != ''">
                        <td class="label">{{fieldLabel('csrEmail', fields)}}</td>
                        <td class="value">{{quote.csrEmail}}</td>
                    </tr>

                    <tr
                        *ngIf="docOptions[26]?.value && quote.alternateAccountNumber && quote.alternateAccountNumber != ''">
                        <td class="label">{{fieldLabel('alternateAccountNumber', accountFields)}}</td>
                        <td class="value">{{quote.alternateAccountNumber}}</td>
                    </tr>

                    <tr *ngIf="docOptions[27]?.value && quote.attentionTo && quote.attentionTo != ''">
                        <td class="label">{{fieldLabel('attentionTo', fields)}}</td>
                        <td class="value">{{quote.attentionTo}}</td>
                    </tr>

                    <tr *ngIf="docOptions[19]?.value">
                        <td class="label">Payment</td>
                        <td class="value payment">
                            <a href="{{paymentUrl}}" class="payment-link">
                                <img class="payment-button" [src]="'assets/images/make-a-payment-button.png'">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- CONTENT -->
            <div class="content-quote">
                <table id="table" class="simple quote-table">
                    <thead>
                        <tr>
                            <th *ngIf="docOptions[15]?.value || docOptions[14]?.value">{{getLabelForFirstColumn()}}</th>
                            <th *ngIf="docOptions[24]?.value" class="fixed-width-color">{{docLabels.color}}</th>
                            <th>{{docLabels.itemName}}</th>
                            <th *ngIf="docOptions[23]?.value">{{docLabels.size}}</th>
                            <th class="fixed-width-price">{{docLabels.unitPrice}}</th>
                            <th class="fixed-width-qty">{{docLabels.qty}}</th>
                            <th class="fixed-width-total">{{docLabels.totalPrice}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let product of lineItems">
                            <ng-container *ngIf="!product?.lineItem?.hideLine">
                                <tr>
                                    <td *ngIf="docOptions[15]?.value || docOptions[14]?.value" class="first-line">
                                        <div *ngIf="docOptions[15]?.value" class="image-item">
                                            <img class="product-image"
                                                [default]="'assets/images/ecommerce/product-image-placeholder.png'"
                                                [src]="product.image | urlFix" />
                                        </div>
                                        <div *ngIf="docOptions[14]?.value" class="item-number">{{ product.productId }}
                                        </div>
                                        <div *ngIf="docOptions[30]?.value" class="item-number">{{ product?.inhouseId }}
                                        </div>
                                    </td>
                                    <td *ngIf="docOptions[24]?.value" class="first-line fixed-width-color">
                                        <span *ngIf="product?.lineItem?.showAttribColor == '1'">
                                            {{product.color}}
                                        </span>
                                    </td>
                                    <td class="first-line"
                                        [ngClass]="{'fixed-width-name-3': checkDocOptions() == 0, 'fixed-width-name-2': checkDocOptions() == 1, 'fixed-width-name-1': checkDocOptions() == 2}">
                                        <div class="title">{{product.productName}}</div>
                                    </td>
                                    <td *ngIf="docOptions[23]?.value" class="first-line">
                                        <span *ngIf="product?.lineItem?.showAttribSize == '1'">
                                            {{product.multiple ? groupSizeQuantity(product) : product.size}}
                                        </span>
                                    </td>
                                    <td *ngIf="docOptions[18]?.value" class="first-line fixed-width-price">
                                        <span *ngIf="product.uomConversionRatio">
                                            {{ product.price * product.uomConversionRatio | currency:'USD':'symbol':sysconfigOrderFormCostDecimalUpto}}
                                        </span>
                                        <span *ngIf="!product.uomConversionRatio">
                                            {{ product.price | currency:'USD':'symbol':sysconfigOrderFormCostDecimalUpto }}
                                        </span>
                                    </td>
                                    <td *ngIf="!docOptions[18]?.value" class="first-line fixed-width-price">
                                        <span *ngIf="product.uomConversionRatio">
                                            {{ product.price * product.uomConversionRatio }}
                                        </span>
                                        <span *ngIf="!product.uomConversionRatio">
                                            {{ product.price }}
                                        </span>
                                    </td>
                                    <td class="first-line fixed-width-qty">
                                        <ng-container *ngIf="product.uomAbbreviation; else withoutUOM">
                                            {{product.unitQuantity | number:sysconfigOrderFormQtyDecimalUpto}}

                                            <span *ngIf="docOptions[16].value">
                                                {{product.uomAbbreviation || 'EA'}}
                                                <span *ngIf="product.quantity !== product.unitQuantity">
                                                    ({{ product.quantity }})
                                                </span>
                                            </span>
                                        </ng-container>
                                        <ng-template #withoutUOM>
                                            {{ product.quantity | number:sysconfigOrderFormQtyDecimalUpto }} <span
                                                *ngIf="docOptions[16].value">EA</span>
                                        </ng-template>
                                    </td>
                                    <td *ngIf="docOptions[18]?.value" class="first-line fixed-width-total">
                                        {{(product.price * product.quantity) | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                                    </td>
                                    <td *ngIf="!docOptions[18]?.value" class="first-line fixed-width-total">
                                        {{(product.price * product.quantity)}}
                                    </td>
                                </tr>
                                <tr *ngIf="docOptions[17]?.value">
                                    <td colspan="8" class="description">
                                        <div class="product-description"
                                            [innerHTML]="product.customerDescription | safeHtml ">
                                        </div>
                                        <div class="calculator-display"
                                            *ngIf="product?.calculatorData && product?.calculatorData[0]">
                                            {{ product.calculatorData[0]?.formatted }}
                                        </div>

                                    </td>
                                </tr>
                                <tr *ngIf="product?.lineItem?.overrideInHandDate === '1'">
                                    <td colspan="8">In Hands Date: {{ product?.lineItem?.inhandDate }}</td>
                                </tr>
                                <ng-container *ngIf="product.lineItem.rollAddonChargesToProduct == 0">
                                    <tr *ngFor="let addonCharge of product.addonCharges; let i=index;">
                                        <td colspan="8" class="noBorder">
                                            <div class="mt-10" fxLayout="row" fxLayoutAlign="end center">
                                                <span *ngIf="i==0" class="title-addon">
                                                    Additional Charges
                                                </span>
                                                <div *ngIf="!docOptions[20]?.value" class="image-space"></div>
                                                <div *ngIf="docOptions[20]?.value" class="image"></div>
                                                <span class="name">
                                                    {{addonCharge.name}}
                                                </span>
                                                <span class="price">
                                                    {{addonCharge.price | currency:'USD':'symbol':sysconfigOrderFormCostDecimalUpto}}
                                                </span>
                                                <span class="quantity">
                                                    {{addonCharge.matchOrderQty == '1' ? product.matchOrderQty : addonCharge.quantity | number:sysconfigOrderFormQtyDecimalUpto}}
                                                </span>
                                                <span class="total">
                                                    {{(addonCharge.matchOrderQty == '1' ? (addonCharge.price * product.matchOrderQty) : (addonCharge.price * addonCharge.quantity)) | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngFor="let decoVendor of product.decoVendors; let i=index;">
                                    <tr>
                                        <td colspan="8" class="noBorder">
                                            <div class="mt-10" fxLayout="row" fxLayoutAlign="end center">
                                                <span *ngIf="i==0" class="title">
                                                    Decoration
                                                </span>
                                                <div *ngIf="!docOptions[20]?.value" class="image-space"></div>
                                                <div *ngIf="docOptions[20]?.value" class="image">
                                                    <img class="decoration-image" [src]="decoVendor.image | urlFix"
                                                        [default]="'assets/images/ecommerce/product-image-placeholder.png'" />
                                                </div>
                                                <span class="name">
                                                    {{decoVendor.decoTypeName}}
                                                </span>
                                                <span class="location">
                                                    {{decoVendor.decoLocation}}
                                                </span>
                                                <span *ngIf="product.lineItem.rollDecoChargesToProduct == 0"
                                                    class="price">
                                                    {{decoVendor.price | currency:'USD':'symbol':sysconfigOrderFormCostDecimalUpto}}
                                                </span>
                                                <span *ngIf="product.lineItem.rollDecoChargesToProduct == 1"
                                                    class="price">
                                                </span>
                                                <span class="quantity">
                                                    {{decoVendor.quantity | number:sysconfigOrderFormQtyDecimalUpto}}
                                                </span>
                                                <span *ngIf="product.lineItem.rollDecoChargesToProduct == 0"
                                                    class="total">
                                                    {{(decoVendor.price * decoVendor.quantity) | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                                                </span>
                                                <span *ngIf="product.lineItem.rollDecoChargesToProduct == 1"
                                                    class="total">
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <ng-container *ngIf="product.lineItem.rollDecoAddonChargesToProduct == 0">
                                        <tr *ngFor="let decoAddonCharge of decoVendor.addonCharges; let j=index;">
                                            <td colspan="8" class="noBorder">
                                                <div class="mt-10" fxLayout="row" fxLayoutAlign="end center">
                                                    <span *ngIf="j==0" class="title-addon">
                                                        Deco Additional Charges
                                                    </span>
                                                    <div *ngIf="!docOptions[20]?.value" class="image-space"></div>
                                                    <div *ngIf="docOptions[20]?.value" class="image"></div>
                                                    <span class="name">
                                                        {{decoAddonCharge.name}}
                                                    </span>
                                                    <span class="price">
                                                        {{decoAddonCharge.price | currency:'USD':'symbol':sysconfigOrderFormCostDecimalUpto}}
                                                    </span>
                                                    <span class="quantity">
                                                        {{ decoAddonCharge.quantity | number:sysconfigOrderFormQtyDecimalUpto}}
                                                    </span>
                                                    <span class="total">
                                                        {{ decoAddonCharge.price * decoAddonCharge.quantity | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>

                <table id="table-footer" class="simple quote-table-footer">
                    <tbody>
                        <tr *ngIf="checkValid(quote.orderAmount)" class="subtotal">
                            <td>{{docLabels.subtotalCost}}</td>
                            <td>{{quote.orderAmount | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}</td>
                        </tr>
                        <tr *ngIf="checkValid(quote.taxAmount)" class="tax">
                            <td>{{docLabels.tax}}</td>
                            <td>{{quote.taxAmount | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}</td>
                        </tr>
                        <tr *ngIf="checkValid(quote.discountAmount)" class="discount">
                            <td>{{docLabels.discount || 'Discount'}}</td>
                            <td>-{{quote.discountAmount | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                            </td>
                        </tr>
                        <tr *ngIf="checkValid(quote.shippingAmount)" class="discount">
                            <td>{{docLabels.shippingAmount || 'Shipping'}}</td>
                            <td>{{quote.shippingAmount | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                            </td>
                        </tr>
                        <tr *ngIf="checkValid(quote.finalGrandTotalPrice)" class="total">
                            <td>{{docLabels.totalPrice}}</td>
                            <td>{{quote.finalGrandTotalPrice | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center"
                    *ngIf="docOptions[28]?.value && shipInfoList.length > 0">
                    <mat-icon class="m-0 mr-16">local_shipping</mat-icon>
                    <div class="h2 secondary-text">Shipping Details</div>
                </div>
                <table id="table-summary-tracking" *ngIf="docOptions[28]?.value && shipInfoList.length > 0">
                    <thead>
                        <tr>
                            <th class="tracking-code">Tracking Code</th>
                            <th class="tracking-code">Shipping Method</th>
                            <th class="tracking-code">Ship Date</th>
                            <th class="tracking-code">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let shipping of shipInfoList; let i=index;">
                            <tr>
                                <td class="tracking-code" valign="top">
                                    {{shipping.trackNumber}}
                                </td>
                                <td class="tracking-code" valign="top">
                                    {{shipping.shippingMethod}}
                                </td>
                                <td class="tracking-code" valign="top">
                                    {{ shipping.shipDate }}
                                </td>
                                <td class="tracking-code" valign="top">
                                    {{ shipping.note }}
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>

            </div>

            <!-- FOOTER -->

            <div id="footer" class="footer-quote">
                <div *ngIf="quote.orderNote != ''" class="note mt-16">Notes:</div>
                <div *ngIf="quote.orderNote != ''" fxLayout="row" fxLayoutAlign="start start">
                    <div class="small-note pre">{{quote?.orderNote}}</div>
                </div>
                <div *ngIf="docOptions[29]?.value" fxLayout="row" fxLayoutAlign="start start">
                    <div class="footer-note pre">{{ displaydocDefaultOptions(docOptions[29]?.name)}}</div>
                </div>
            </div>
            <!--

            Use the following elements to add breaks to your pages. This will make sure that the section in between
            these elements will be printed on a new page. The following two elements must be used before and after the
            page content that you want to show as a new page. So, you have to wrap your content with them.

            Elements:
            ---------
            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            -->

            <!--

            Example:
            --------

            Initial page content!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            This is the second page!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            This is the third page!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            -->

        </div>
        <!-- / quote -->

    </div>

</div>