<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div class="title dialog-title">
                <span>Reason</span>
            </div>
            <button mat-button class="mat-icon-button"
                    (click)="close()"
                    aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="loading" *ngIf="loading">
		<mat-spinner></mat-spinner>
    </div>

    <mat-dialog-content class="p-24 m-0">
        <form [formGroup]="dataForm" (submit)="save()" class="p-16 pb-0" fxLayout="column" fusePerfectScrollbar>
            <div class="form-group">
                <mat-form-field>
                    <textarea matInput placeholder="Reason" formControlName="note" rows="5"></textarea>
                </mat-form-field>
            </div>
         </form>
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-raised-button
                    (click)="save()"
                    class="save-button mat-accent"
                    aria-label="Add"
                    matTooltip="Add">
                Add
            </button>
        </div>
    </mat-dialog-content>

</div>
