
<!-- <activity-sidenav></activity-sidenav> -->
<!-- CONTENT CARD -->
<div class="order__container" *ngIf="(config$ | async) as config">

    <!-- CONTENT -->
    <mat-progress-spinner diameter="16" mode="indeterminate" *ngIf="(saving$ | async)"></mat-progress-spinner>
    <ng-container *ngIf="( order$ | async ) as order">
        <app-order-form (save)="save()" (reload)="reload()" [order]="order" [config]="config" [vm]="orderModel"></app-order-form>
    </ng-container>
    <!-- / CONTENT -->

    <ng-container *ngIf="(loading$ | async) as loading">
        <div class="loading" *ngIf="loading?.active" style="flex-direction: column">
            <div>
                <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="loading.label" class="fuse-white-fg h3">{{ loading.label }}</div>
        </div>
    </ng-container>

</div>
<!-- / CONTENT CARD -->