<div id="leads" class="page-layout carded fullwidth inner-scroll list-page">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg h-80" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxFlex.gt-xs="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom
                    [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">style</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Leads</span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT  -->
        <mat-sidenav-container class="content-card">
            <mat-sidenav class="sidenav primary-bg" align="start" opened="true" mode="side"
                fuseMatSidenavHelper="contacts-sidenav">
                <mat-list class="p-0">
                    <mat-list-item class="mat-accent-bg" matRipple (click)="newLead()">
                        <mat-icon>add</mat-icon>
                        <span class="ml-8">Lead</span>
                    </mat-list-item>
                    <mat-list-item class="mat-accent-bg" matRipple (click)="clearFilters()">
                        <mat-icon>layers_clear</mat-icon>
                        <span class="ml-8">Clear Filters</span>
                    </mat-list-item>
                    <mat-list-item class="mat-accent-bg" matRipple (click)="newOpportunity()">
                        <mat-icon>add</mat-icon>
                        <span class="ml-8">Opportunity</span>
                    </mat-list-item>
                    <mat-list-item class="mat-accent-bg" matRipple (click)="convertLead()">
                        <mat-icon>add</mat-icon>
                        <span class="ml-8">Convert</span>
                    </mat-list-item>
                    <mat-list-item class="mat-warn-bg" matRipple (click)="deleteSelectedLeads()" *checkPermission="['', 'Lead']; requiredPermission 'allowDelete'"
                    >
                        <mat-icon>delete</mat-icon>
                        <span class="ml-8">Delete</span>
                    </mat-list-item>
                </mat-list>
            </mat-sidenav>

            <div class="toolbar">
                <div fxFlex="row">
                    <div fxFlex="row" fxLayoutAlign="start center">
                        <button mat-icon-button fxHide.gt-md fuseMatSidenavToggler="contacts-sidenav">
                            <mat-icon>menu</mat-icon>
                        </button>

                        <button mat-raised-button color="accent" class="text-capitalize mr-8" fxHide fxShow.gt-md
                            (click)="newLead()">
                            <mat-icon>add</mat-icon>Lead
                        </button>

                        <button mat-raised-button color="accent" class="text-capitalize mr-8" (click)="clearFilters()"
                            fxHide fxShow.gt-md>
                            <mat-icon>layers_clear</mat-icon> Clear Filters
                        </button>

                        <button mat-raised-button color="accent" class="text-capitalize mr-8" fxHide fxShow.gt-md
                            [disabled]="selection.selectedCount != 1" (click)="newOpportunity()">
                            <mat-icon>add</mat-icon>Opportunity
                        </button>

                        <button mat-raised-button color="accent" class="text-capitalize mr-8" fxHide fxShow.gt-md
                            [disabled]="selection.selectedCount != 1" (click)="convertLead()">
                            <mat-icon>add</mat-icon>Convert
                        </button>

                        <button mat-raised-button color="warn" class="text-capitalize mr-8" fxHide fxShow.gt-md
                            [matTooltip]="'Delete selected (' + selection.selectedCount + ') lead' + (selection.selectedCount > 1 ? 's' : '')"
                            [disabled]="selection.selectedCount == 0" (click)="deleteSelectedLeads()"
                            *checkPermission="['', 'Lead']; requiredPermission 'allowDelete'"
                            >
                            <mat-icon>delete</mat-icon> Delete
                        </button>

                        <mat-checkbox class="ml-16 mt-4" [(ngModel)]="leadsService.viewMyItems"
                            (ngModelChange)="changeShowMyItems($event)">
                            View My Items
                        </mat-checkbox>
                    </div>

                    <div class="toolbar-separator"></div>

                    <button mat-button class="text-capitalize more-actions" [matMenuTriggerFor]="selectMenu">
                        More Actions
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #selectMenu="matMenu">
                        <button mat-menu-item class="text-capitalize" (click)="emailSelected()">Email
                        </button>
                        <button mat-menu-item class="text-capitalize" (click)="massUpdateSelected()">Mass Update
                        </button>
                        <button mat-menu-item class="text-capitalize" (click)="mergeSelected()">Merge
                        </button>
                        <button mat-menu-item class="text-capitalize" (click)="addToTargetListSelected()">Add To Target
                            List
                        </button>
                        <!-- <button mat-menu-item class="text-capitalize"
                                (click)="generateLetterSelected()">Form Letter
                        </button> -->
                        <button mat-menu-item class="text-capitalize" (click)="addToTargetListSelected()">Change Log
                        </button>
                    </mat-menu>

                </div>
            </div>

            <fuse-leads-list></fuse-leads-list>
        </mat-sidenav-container>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>

<div class="loading" [@animate]="{value:'*',params:{opacity:1}}" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
