<div id="order" class="page-layout carded inner-scroll fullwidth">
     <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-16" mat-icon-button routerLink="/e-commerce/orders">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{(order.orderType.toLowerCase() == 'quote' ? 'Quote' : (order.orderType.toLowerCase() == 'creditmemo'  ? 'Credit Memo' : 'Order'))}} #{{order.orderNo}} for {{order.accountName}}
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div class="order-total" fxFlex fxLayout="row-reverse" fxLayoutAlign="start center">
                <div fxLayout="column" fxHide.xs>
                    <div class="h2">Order Total: {{order.finalGrandTotalPrice | currency:'USD':'symbol'}}
                    <span *ngIf="! (customerViewService.state$ | async)?.enabled">&nbsp;| Gross Profit: {{order.grossProfit | currency:'USD':'symbol' }}
                            <span *ngIf="order.grossProfit" class="profit-percentage">&nbsp;
                                {{ ( order.grossProfitPercent / 100 ) | percent:sysconfigOrderFormTotalDecimalUpto }}
                            </span>

                    </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <div class="toolbar">
                <div class="order-status mr-8" fxLayout="row" fxFlex>
                    <div fxFlex>
                        Status:
                        <span class="status h6 p-4" [ngClass]="colors[order.orderStatus]">
                            {{order.orderStatus}}
                        </span>
                    </div>
                    <ng-container *ngIf="newOrderFormEnabled && !forceNewOrderForm">
                        <button mat-button (click)="toggleNewOrderForm()" class="orange-fg">
                            {{ !newOrderFormToggled ? 'Try New Order Form' : 'Back to Original Form' }}
                        </button>
                    </ng-container>
                </div>
                <ng-container *ngIf="!loading">

                    <div class="order-buttons" *ngIf="order.orderType == 'CreditMemo'" fxLayout="row">
                        <ng-container *ngIf="order.orderStatus == 'Billed'">
                            <button *ngIf="qboCmPublished && qboCmSynced" mat-flat-button
                                class="ml-8 green-500-bg invoice-sync" (click)="publishCmToQBO()">QB Synced</button>
                            <button *ngIf="!qboCmPublished && qboCmSynced" mat-raised-button color="warn" class="ml-8"
                                (click)="publishCmToQBO()">QB Error</button>
                            <button mat-raised-button color="warn" class="ml-8" (click)="cancelOrder()">
                                <mat-icon>highlight_off</mat-icon> Cancel
                            </button>
                        </ng-container>
                        <ng-container *ngIf="order.orderStatus == 'Pending'">
                            <button mat-raised-button color="accent" (click)="updateOrderStatus('Booked')">Book</button>
                            <button mat-raised-button color="warn" class="ml-8" (click)="cancelOrder()">
                                <mat-icon>highlight_off</mat-icon> Cancel
                            </button>
                        </ng-container>
                        <ng-container *ngIf="order.orderStatus == 'Booked'">
                            <button *ngIf="!qboCmSynced && this.qboActive" mat-raised-button color="accent" class="ml-8"
                                (click)="publishCmToQBO()">QB Sync</button>
                            <button *ngIf="!qboCmPublished && qboCmSynced && this.qboActive" mat-raised-button color="warn" class="ml-8"
                                (click)="publishCmToQBO()">QB Error</button>
                            <button *ngIf="qboCmPublished && qboCmSynced && this.qboActive" mat-flat-button
                                class="ml-8 green-500-bg invoice-sync" (click)="publishCmToQBO()">QB Synced</button>
                            <button *ngIf="!isVouched" mat-raised-button color="warn" class="ml-8" (click)="cancelOrder()">
                                <mat-icon>highlight_off</mat-icon> Cancel
                            </button>
                        </ng-container>

                    </div>
                    <div class="order-buttons" *ngIf="order.orderType == 'Sample'" fxLayout="row">
                        <ng-container *ngIf="order.orderStatus == 'Pending'">
                            <button mat-raised-button color="accent" (click)="updateOrderStatus('Booked')">Book</button>
                            <button mat-raised-button color="warn" class="ml-8" (click)="cancelOrder()">
                                <mat-icon>highlight_off</mat-icon> Cancel
                            </button>
                        </ng-container>
                        <ng-container *ngIf="order.orderStatus == 'Booked'">
                            <button mat-raised-button color="warn" class="ml-8" (click)="cancelOrder()">
                                <mat-icon>highlight_off</mat-icon> Cancel
                            </button>
                        </ng-container>

                    </div>
                    <div class="order-buttons"
                        *ngIf="order.orderType.toLowerCase() == 'merged' || order.orderType.toLowerCase() == 'order' || order.orderType.toLowerCase() === 'webstore' || order.orderType.toLowerCase() === 'storeorder'"
                        fxLayout="row">

                        <button (click)="handleRefresh()" class="grn-sync-btn mr-8" *ngIf="currencyEnabled && (order.orderStatus == 'Booked' || order.orderStatus == 'Pending')" mat-raised-button>
                            Refresh Exchange Rates
                            <mat-icon color="white">refresh</mat-icon>
                        </button>

                        <button mat-raised-button *ngIf="qboActive && ordersConfig.settings.poDoc=='1'" class="mr-8" [ngClass]="qboPoStatus.color ? qboPoStatus.color : ''" color="chatButtonColor" (click)="openPoSync()">PO Sync</button>
                        <button mat-raised-button *ngIf="socketEditors" color="chatButtonColor" class="mr-8" (click)="openCurrentEditors()">Current Editors ({{ socketEditors.length }})</button>
                        <ng-container *checkPermission="[order.id, 'Order']; requiredPermission 'allowEdit'">
                            <ng-container *ngIf="permissionsEnabled">
                                <permission-entity-group-dialog style="margin-right:10px"
                                    *checkPermission="[order.id, 'Order']; requiredPermission 'allowPermission'"
                                    [entityId]="order.id" [entityType]="'Order'">
                                </permission-entity-group-dialog>
                            </ng-container>
                            <ng-container *ngIf="order.orderStatus == 'Pending'">
                                <button mat-raised-button color="accent"
                                    (click)="validateCreditLimit('Booked')">Book</button>
                                <ng-container *checkPermission="[order.id, 'Order']; requiredPermission 'allowDelete'">
                                    <button mat-raised-button color="warn" class="ml-8" (click)="cancelOrder()">
                                        <mat-icon>highlight_off</mat-icon> Cancel
                                    </button>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngIf="order.orderStatus == 'Booked'">
                                <!--ng-container *ngIf="userType == 'AnteraAdmin'">
                                    <button mat-raised-button color="accent" class="ml-8"
                                        (click)="cleanOrderWorkflow()">Fix Workflow</button>
                                </ng-container-->
                                <div *ngIf="!invoiceShow">
                                    <ng-container checkPermissionAction [pAction]="'invoice_order'">
                                        <button mat-raised-button title="Please receive item first!" color="accent" class="ml-8"
                                        disabled="true"
                                            >Invoice</button>
                                    </ng-container>
                                </div>
                                <div *ngIf="invoiceShow">
                                    <!--ng-container checkPermissionAction [pAction]="'invoice_order'">
                                        <button mat-raised-button color="accent" class="ml-8"
                                            (click)="updateOrderStatus('Billed')">Invoice</button>
                                    </ng-container-->
                                    <ng-container checkPermissionAction [pAction]="'invoice_order'">
                                        <button mat-raised-button color="accent" class="ml-8"
                                            (click)="invoiceOrder()">Invoice</button>
                                    </ng-container>
                                </div>
                                
                                <ng-container *checkPermission="[order.id, 'Order']; requiredPermission 'allowDelete'">
                                    <button *ngIf="!isVouched" mat-raised-button color="warn" class="ml-8" (click)="cancelOrder()">
                                        <mat-icon>highlight_off</mat-icon> Cancel
                                    </button>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="order.orderStatus == 'Billed'">
                                <button *ngIf="!qboInvoicePublished && qboSynced && this.qboActive" mat-raised-button
                                    color="warn" class="ml-8" (click)="publishInvoiceToQBO()">INV Error</button>
                                <button *ngIf="qboInvoicePublished && qboSynced && this.qboActive" mat-flat-button
                                    class="ml-8 green-500 invoice-sync" (click)="publishInvoiceToQBO()">INV
                                    Synced</button>
                                <button *ngIf="!isVouched" mat-raised-button color="accent" class="ml-8"
                                    (click)="updateOrderStatus('Void')">Void</button>
                            </ng-container>
                            <ng-container *ngIf="order.orderStatus == 'Cancelled'">
                                <button mat-raised-button color="accent"
                                    (click)="updateOrderStatus('Booked')">Book</button>
                            </ng-container>
                            <ng-container *ngIf="order.orderStatus == 'Void'">
                                <button *ngIf="qboInvoicePublished && qboSynced && this.qboActive" mat-raised-button
                                    color="warn" class="ml-8" (click)="voidInvoiceToQBO()">Sync Void</button>
                            </ng-container>
                        </ng-container>
                    </div>

                </ng-container>
            </div>

            <div *ngIf="noteService.showButton()" [ngClass]="{'example-button-container': !noteService.open.value, 'btn-moved': noteService.open.value}">
                <button (click)="toogleNotification(sidenav, $event)" mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
                    {{ noteService.numberOfNotes() }}
                    <mat-icon *ngIf="!noteService.open.value">arrow_left</mat-icon>
                    <mat-icon *ngIf="noteService.open.value">arrow_right</mat-icon>
        
                </button>
            </div>
    
            <mat-sidenav-container>
                <mat-sidenav #sidenav mode="over" position="end">
                    <activity-sidenav></activity-sidenav>
                </mat-sidenav>
                <mat-sidenav-content>
                    <!-- CONTENT -->
                    <div class="content">
                        <mat-tab-group [(selectedIndex)]="noteService.orderTabIndex" (selectedTabChange)="updateTabIndex()" [selectedIndex]="selectedIndex" class="fixed" #tabs>

                            <mat-tab label="{{(order.orderType.toLowerCase() == 'quote' ? 'Quote' : 'Order')}} Details">
                                <div class="order-details tab-content p-24" fusePerfectScrollbar>
                                    <order-details-overview [order]="order" [paymentList]="paymentList" [fields]="fields"
                                        (edit)="editOrder($event)" (payment)="receivePayment()"
                                        (deletePayment)="deletePayment($event)" (voidPayment)="voidPayment($event)"
                                        (refundPayment)="refundPayment($event)"></order-details-overview>
                                </div>
                            </mat-tab>

                            <mat-tab label="Products">
                                <div class="products tab-content">
                                    <order-details-product-step *ngIf="!newOrderFormToggled"></order-details-product-step>
                                    <app-order-container *ngIf="newOrderFormToggled"></app-order-container>
                                </div>
                            </mat-tab>
                            <mat-tab label="Documents">
                                <ng-template matTabContent>
                                    <div class="tab-content tab-content--documents" fxFlex>
                                        <app-documents [ordersConfig]="ordersConfig" [paymentList]="paymentList"
                                            [fields]="fields" [documentsToUpload]="documentsToUpload" (removeDocumentsToUpload)="removeDocumentsToUpload($event)"></app-documents>
                                    </div>
                                </ng-template>
                            </mat-tab>

                            <mat-tab label="Activities">
                                <ng-template matTabContent>
                                    <div class="products tab-content" fusePerfectScrollbar>
                                        <app-order-activity-list [order]="order"></app-order-activity-list>
                                    </div>
                                </ng-template>
                            </mat-tab>

                            <mat-tab label="Files" *ngIf="order.accountId">
                            <app-aws-file-manager class="w-100-p" [recordId]="order.orderNo" [accountId]="order.accountId"
                                [awsFileManagerType]="awsFileManagerType"></app-aws-file-manager>
                            </mat-tab>

                            <mat-tab label="History">
                                <ng-template matTabContent>
                                    <app-history></app-history>
                                </ng-template>
                            </mat-tab>

                            <mat-tab label="Vouching" *ngIf="order.orderStatus == 'Billed' || order.orderStatus == 'Booked' && ordersConfig.settings.poDoc=='2'">
                                <ng-template matTabContent>
                                    <div>
                                        <order-vouching-history [orderId]="order.id" [totalCost]="order.totalCost"></order-vouching-history>
                                    </div>
                                </ng-template>
                            </mat-tab>

                        </mat-tab-group>


                    </div>
                    <!-- / CONTENT -->
                </mat-sidenav-content>
            </mat-sidenav-container>
           

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
<div class="loading" [@animate]="{value:'*',params:{opacity:1}}" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
