<div id="invoice-modern" class="modern page-layout blank" fxLayout="row" fusePerfectScrollbar>

    <div class="invoice-container">

        <!-- INVOICE -->
        <div class="card-invoice">

            <!-- HEADER -->
            <div id="header" class="header-invoice" fxLayout="row" fxLayoutAlign="start start">

                <div class="ids" fxLayout="column">
                    <div fxLayout="row" class="seller" fxLayoutAlign="center start"
                        *ngIf="invoice?.corporateIdentity?.logo">
                        <img class="logo" [src]="invoice?.corporateIdentity?.logo">
                    </div>
                    <div fxLayout="row" class="seller" fxLayoutAlign="center start"
                        *ngIf="!invoice?.corporateIdentity?.logo">
                        <img class="logo" [src]="logoUrl">
                    </div>

                    <div fxLayout="row" class="client" fxLayoutAlign="start center">
                        <div class="detail">
                            <div class="title">Ship To</div>
                            <div class="company">{{invoice.shippingCompanyName}}</div>
                            <div class="customer">{{invoice.shippingCustomerName}}</div>
                            <div class="address">
                                {{invoice.shippingStreet}}
                            </div>
                            <div class="address">
                                {{invoice.shippingStreet2}}
                            </div>
                            <div class="address">
                                {{invoice.shippingCity}} {{invoice.shippingState}} {{invoice.shipPostalcode}}
                            </div>
                            <div *ngIf="invoice.shippingEmail" class="email">
                                {{invoice.shippingEmail}}
                            </div>
                            <div *ngIf="invoice.shipCountry" class="address">
                                {{invoice.shipCountry}}
                            </div>
                            <div *ngIf="invoice.shippingPhone" class="address">
                                {{invoice.shippingPhone}}
                            </div>

                        </div>
                        <div class="detail">
                            <div class="title">Bill To</div>
                            <div class="company">{{invoice.billingCompanyName}}</div>
                            <div class="contact">{{invoice.billingCustomerName}}</div>
                            <div class="address">
                                {{invoice.billingStreet}}
                            </div>
                            <div class="address">
                                {{invoice.billingStreet2}}
                            </div>
                            <div class="address">
                                {{invoice.billingCity}} {{invoice.billingState}} {{invoice.billingPostalcode}}
                            </div>
                            <div *ngIf="invoice.billingEmail" class="email">
                                {{invoice.billingEmail}}
                            </div>
                            <div *ngIf="invoice.billingCountry" class="address">
                                {{invoice.billingCountry}}
                            </div>
                            <div *ngIf="invoice.billingPhone" class="address">
                                {{invoice.billingPhone}}
                            </div>

                        </div>
                    </div>
                </div>

                <table class="summary ml-56">
                    <tr>
                        <td class="label code-title">Invoice</td>
                        <td class="value code-title">#{{invoice.orderNo}}</td>
                    </tr>

                    <tr (click)="updateInvoiceDate()" *ngIf="invoice.proformaDate">
                        <td class="label">{{docLabels.invoiceDate || 'Invoice Date'}}</td>
                        <td class="value">{{ invoice.proformaDate }}</td>
                    </tr>

                    <tr *ngIf="editingInvoiceDate || !invoice.proformaDate">
                        <td style="text-align: center;" colspan="2">
                            <mat-form-field class="ml-28">
                                <input matInput (focus)="picker.open()" (dateChange)="onDate($event)"
                                    [matDatepicker]="picker" placeholder="Choose a date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr *ngIf="docOptions[4].value && invoice.dueDate != '' && invoice.dueDate != '0000-00-00'">
                        <td class="label">{{fieldLabel('dueDate', fields)}}</td>
                        <td class="value">{{invoice.dueDate}}</td>
                    </tr>

                    <tr *ngIf="docOptions[0].value">
                        <td class="label">{{fieldLabel('finalGrandTotalPrice', fields)}}</td>
                        <td class="value">
                            {{invoice.finalGrandTotalPrice | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                        </td>
                    </tr>

                    <tr *ngIf="docOptions[1].value && invoice.orderDate != '' && invoice.orderDate != '0000-00-00'">
                        <td class="label">{{fieldLabel('orderDate', fields)}}</td>
                        <td class="value">{{invoice.orderDate}}</td>
                    </tr>

                    <tr
                        *ngIf="docOptions[2].value && invoice.inHandDateBy != '' && invoice.inHandDateBy != '0000-00-00'">
                        <td class="label">{{fieldLabel('inHandDateBy', fields)}}</td>
                        <td class="value">{{invoice.inHandDateBy}}</td>
                    </tr>

                    <tr *ngIf="docOptions[3].value && invoice.shipVia !=''">
                        <td class="label">{{fieldLabel('shipVia', fields)}}</td>
                        <td class="value"><span [innerHtml]="invoice.shipVia"></span></td>
                    </tr>

                    <tr *ngIf="docOptions[25]?.value  && invoice.shippingAccountNo !=''">
                        <td class="label">{{fieldLabel('shippingAccountNo', fields)}}</td>
                        <td class="value">{{invoice.shippingAccountNo}}</td>
                    </tr>


                    <tr *ngIf="docOptions[5].value && invoice.shipDate != '' && invoice.shipDate != '0000-00-00'">
                        <td class="label">{{fieldLabel('shipDate', fields)}}</td>
                        <td class="value">{{invoice.shipDate}}</td>
                    </tr>

                    <tr *ngIf="docOptions[6].value && invoice.customerPo != ''">
                        <td class="label">{{fieldLabel('customerPo', fields)}}</td>
                        <td class="value">#{{invoice.customerPo}}</td>
                    </tr>

                    <tr *ngIf="docOptions[7].value && invoice.creditTerms !=''">
                        <td class="label">{{fieldLabel('creditTerms', fields)}}</td>
                        <td class="value">{{ displayCreditTerm(invoice.creditTerms) }}</td>
                    </tr>

                    <tr *ngIf="docOptions[8].value && invoice.salesPerson != ''">
                        <td class="label">{{fieldLabel('salesPerson', fields)}}</td>
                        <td class="value">{{invoice.salesPerson}}</td>
                    </tr>

                    <tr *ngIf="docOptions[9].value && invoice.salesPersonPhone != ''">
                        <td class="label">{{fieldLabel('salesPersonPhone', fields)}}</td>
                        <td class="value">{{invoice.salesPersonPhone}}</td>
                    </tr>

                    <tr *ngIf="docOptions[10].value && invoice.salesPersonEmail != ''">
                        <td class="label">{{fieldLabel('salesPersonEmail', fields)}}</td>
                        <td class="value">{{invoice.salesPersonEmail}}</td>
                    </tr>

                    <tr *ngIf="docOptions[11].value && invoice.csrName && invoice.csrName != ''">
                        <td class="label">{{fieldLabel('csrName', fields)}}</td>
                        <td class="value">{{invoice.csrName}}</td>
                    </tr>

                    <tr *ngIf="docOptions[12].value && invoice.csrPhone && invoice.csrPhone != ''">
                        <td class="label">{{fieldLabel('csrPhone', fields)}}</td>
                        <td class="value">{{invoice.csrPhone}}</td>
                    </tr>

                    <tr *ngIf="docOptions[13].value && invoice.csrEmail && invoice.csrEmail != ''">
                        <td class="label">{{fieldLabel('csrEmail', fields)}}</td>
                        <td class="value">{{invoice.csrEmail}}</td>
                    </tr>

                    <tr
                        *ngIf="docOptions[26]?.value && invoice.alternateAccountNumber && invoice.alternateAccountNumber != ''">
                        <td class="label">{{fieldLabel('alternateAccountNumber', accountFields)}}</td>
                        <td class="value">{{invoice.alternateAccountNumber}}</td>
                    </tr>

                    <tr *ngIf="docOptions[27]?.value && invoice.attentionTo && invoice.attentionTo != ''">
                        <td class="label">{{fieldLabel('attentionTo', fields)}}</td>
                        <td class="value">{{invoice.attentionTo}}</td>
                    </tr>

                    <tr *ngIf="docOptions[19]?.value">
                        <td class="label">Payment</td>
                        <td class="value payment">
                            <a href="{{paymentUrl}}" class="payment-link">
                                <img class="payment-button" [src]="'assets/images/make-a-payment-button.png'">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- CONTENT -->

            <div class="content-invoice">
                <table id="table" class="simple invoice-table">
                    <thead>
                        <tr>
                            <th *ngIf="docOptions[15].value || docOptions[14].value">{{getLabelForFirstColumn()}}</th>
                            <th *ngIf="docOptions[24] && docOptions[24].value" class="fixed-width-color">
                                {{docLabels.color}}</th>
                            <th>{{docLabels.itemName}}</th>
                            <th *ngIf="docOptions[23] && docOptions[23].value">{{docLabels.size}}</th>
                            <th *ngIf="docOptions[16].value">Unit</th>
                            <th class="fixed-width-price">{{docLabels.unitPrice}}</th>
                            <th class="fixed-width-qty">{{docLabels.qty}}</th>
                            <th class="fixed-width-total">{{docLabels.totalPrice}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let product of lineItems">
                            <ng-container *ngIf="!product?.lineItem?.hideLine">
                                <tr>
                                    <td *ngIf="docOptions[15].value || docOptions[14].value" class="first-line">
                                        <div *ngIf="docOptions[15].value" class="image-item">
                                            <img class="product-image"
                                                [default]="'assets/images/ecommerce/product-image-placeholder.png'"
                                                [src]="product.image | urlFix" />
                                        </div>
                                        <div *ngIf="docOptions[14].value" class="item-number">{{ product.productId }}
                                        </div>
                                        <div *ngIf="docOptions[30]?.value" class="item-number">{{ product?.inhouseId }}
                                        </div>
                                    </td>
                                    <td *ngIf="docOptions[24] && docOptions[24].value"
                                        class="first-line fixed-width-color">
                                        <span *ngIf="product?.lineItem?.showAttribColor == '1'">
                                            {{product.color}}
                                        </span>
                                    </td>
                                    <td class="first-line"
                                        [ngClass]="{'fixed-width-name-3': checkDocOptions() == 0, 'fixed-width-name-2': checkDocOptions() == 1, 'fixed-width-name-1': checkDocOptions() == 2}">
                                        <div class="title">{{product.productName}}</div>
                                    </td>
                                    <td *ngIf="docOptions[23] && docOptions[23].value" class="first-line">
                                        <span *ngIf="product?.lineItem?.showAttribSize == '1'">
                                            {{product.multiple ? groupSizeQuantity(product) : product.size}}
                                        </span>
                                    </td>
                                    <td *ngIf="docOptions[16].value" class="first-line">
                                        {{product.unit || 'EA'}}
                                    </td>
                                    <td *ngIf="docOptions[18]?.value" class="first-line fixed-width-price">
                                        <span *ngIf="product.uomConversionRatio">
                                            {{ product.price * product.uomConversionRatio | currency:'USD':'symbol':sysconfigOrderFormCostDecimalUpto}}
                                        </span>
                                        <span *ngIf="!product.uomConversionRatio">
                                            {{ product.price | currency:'USD':'symbol':sysconfigOrderFormCostDecimalUpto }}
                                        </span>
                                    </td>
                                    <td *ngIf="!docOptions[18]?.value" class="first-line fixed-width-price">
                                        <span *ngIf="product.uomConversionRatio">
                                            {{ product.price * product.uomConversionRatio }}
                                        </span>
                                        <span *ngIf="!product.uomConversionRatio">
                                            {{ product.price }}
                                        </span>
                                    </td>
                                    <td class="first-line fixed-width-qty">
                                        <ng-container *ngIf="product.uomAbbreviation; else withoutUOM">
                                            {{product.unitQuantity | number:sysconfigOrderFormQtyDecimalUpto}}

                                            <span *ngIf="docOptions[16].value">
                                                {{product.uomAbbreviation || 'EA'}}
                                                <span *ngIf="product.quantity !== product.unitQuantity">
                                                    ({{ product.quantity }})
                                                </span>
                                            </span>
                                        </ng-container>
                                        <ng-template #withoutUOM>
                                            {{ product.quantity | number:sysconfigOrderFormQtyDecimalUpto }} <span
                                                *ngIf="docOptions[16].value">EA</span>
                                        </ng-template>
                                    </td>
                                    <td *ngIf="docOptions[18].value" class="first-line fixed-width-total">
                                        {{(product.price * product.quantity) | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                                    </td>
                                    <td *ngIf="!docOptions[18].value" class="first-line fixed-width-total">
                                        {{(product.price * product.quantity) }}
                                    </td>
                                </tr>
                                <tr *ngIf="docOptions[17].value">
                                    <td colspan="8" class="description">
                                        <div class="product-description"
                                            [innerHTML]="product.customerDescription | safeHtml ">
                                        </div>
                                        <div class="calculator-display"
                                            *ngIf="product?.calculatorData && product?.calculatorData[0]">
                                            {{ product.calculatorData[0]?.formatted }}
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="product?.lineItem?.overrideInHandDate === '1'">
                                    <td colspan="8">In Hands Date: {{ product?.lineItem?.inhandDate | date}}</td>
                                </tr>
                                <ng-container *ngIf="product.lineItem.rollAddonChargesToProduct == 0">
                                    <tr *ngFor="let addonCharge of product.addonCharges; let i=index;">
                                        <td colspan="8" class="noBorder">
                                            <div class="mt-10" fxLayout="row" fxLayoutAlign="end center">
                                                <span *ngIf="i==0" class="title-addon">
                                                    Additional Charges
                                                </span>
                                                <div *ngIf="!docOptions[20].value" class="image-space"></div>
                                                <div *ngIf="docOptions[20].value" class="image"></div>
                                                <span class="name">
                                                    {{addonCharge.name}}
                                                </span>
                                                <span class="price">
                                                    {{addonCharge.price | currency:'USD':'symbol':sysconfigOrderFormCostDecimalUpto}}
                                                </span>
                                                <span class="quantity">
                                                    {{addonCharge.matchOrderQty == '1' ? product.matchOrderQty : addonCharge.quantity | number:sysconfigOrderFormQtyDecimalUpto}}
                                                </span>
                                                <span class="total">
                                                    {{(addonCharge.matchOrderQty == '1' ? (addonCharge.price * product.matchOrderQty) : (addonCharge.price * addonCharge.quantity)) | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngFor="let decoVendor of product.decoVendors; let i=index;">
                                    <tr>
                                        <td colspan="8" class="noBorder">
                                            <div class="mt-10" fxLayout="row" fxLayoutAlign="end center">
                                                <span *ngIf="i==0" class="title">
                                                    Decoration
                                                </span>
                                                <div *ngIf="!docOptions[20]?.value" class="image-space"></div>
                                                <div *ngIf="docOptions[20]?.value" class="image">
                                                    <img class="decoration-image" [src]="decoVendor.image | urlFix"
                                                        [default]="'assets/images/ecommerce/product-image-placeholder.png'" />
                                                </div>
                                                <span class="name">
                                                    {{decoVendor.decoTypeName}}
                                                </span>
                                                <span class="location">
                                                    {{decoVendor.decoLocation}}
                                                </span>
                                                <span *ngIf="product.lineItem.rollDecoChargesToProduct == 0"
                                                    class="price">
                                                    {{decoVendor.price | currency:'USD':'symbol':sysconfigOrderFormCostDecimalUpto}}
                                                </span>
                                                <span *ngIf="product.lineItem.rollDecoChargesToProduct == 1"
                                                    class="price">
                                                </span>
                                                <span class="quantity">
                                                    {{decoVendor.quantity | number:sysconfigOrderFormQtyDecimalUpto}}
                                                </span>
                                                <span *ngIf="product.lineItem.rollDecoChargesToProduct == 0"
                                                    class="total">
                                                    {{(decoVendor.price * decoVendor.quantity) | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                                                </span>
                                                <span *ngIf="product.lineItem.rollDecoChargesToProduct == 1"
                                                    class="total">
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <ng-container *ngIf="product.lineItem.rollDecoAddonChargesToProduct == 0">
                                        <tr *ngFor="let decoAddonCharge of decoVendor.addonCharges; let j=index;">
                                            <td colspan="8" class="noBorder">
                                                <div class="mt-10" fxLayout="row" fxLayoutAlign="end center">
                                                    <span *ngIf="j==0" class="title-addon">
                                                        Deco Additional Charges
                                                    </span>
                                                    <div *ngIf="!docOptions[20].value" class="image-space"></div>
                                                    <div *ngIf="docOptions[20].value" class="image"></div>
                                                    <span class="name">
                                                        {{decoAddonCharge.name}}
                                                    </span>
                                                    <span class="price">
                                                        {{decoAddonCharge.price | currency:'USD':'symbol':sysconfigOrderFormCostDecimalUpto}}
                                                    </span>
                                                    <span class="quantity">
                                                        {{ decoAddonCharge.quantity | number:sysconfigOrderFormQtyDecimalUpto}}
                                                    </span>
                                                    <span *ngIf="product.lineItem.rollDecoAddonChargesToProduct == 0"
                                                        class="total">
                                                        {{ decoAddonCharge.price * decoAddonCharge.quantity | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>

                <table id="table-footer" class="simple invoice-table-footer">
                    <tbody>
                        <tr *ngIf="checkValid(invoice.orderAmount)" class="subtotal">
                            <td>{{docLabels.subtotalCost}}</td>
                            <td>{{invoice.orderAmount | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                            </td>
                        </tr>
                        <tr *ngIf="checkValid(invoice.taxAmount)" class="tax">
                            <td>{{docLabels.tax}}</td>
                            <td>{{invoice.taxAmount | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}</td>
                        </tr>
                        <tr *ngIf="checkValid(invoice.discountAmount)" class="discount">
                            <td>{{docLabels.discount || 'Discount'}}</td>
                            <td>{{invoice.discountAmount | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                            </td>
                        </tr>
                        <tr *ngIf="checkValid(invoice.shippingAmount)" class="discount">
                            <td>{{docLabels.shippingAmount || 'Shipping'}}</td>
                            <td>{{invoice.shippingAmount | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                            </td>
                        </tr>
                        <tr *ngIf="checkValid(invoice.finalGrandTotalPrice)" class="total">
                            <td>{{docLabels.totalPrice}}</td>
                            <td>{{invoice.finalGrandTotalPrice | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                            </td>
                        </tr>
                        <ng-container *ngFor="let payment of paymentList">
                            <tr class="payment">
                                <td>Payment&nbsp;&nbsp;{{payment.paymentDate | date}}</td>
                                <td>{{payment.amount | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}</td>
                            </tr>
                        </ng-container>
                        <tr *ngIf="paymentList.length > 0" class="balance">
                            <td>Balance</td>
                            <td>{{calculateBalanceAmount() | currency:'USD':'symbol':sysconfigOrderFormTotalDecimalUpto}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center"
                    *ngIf="docOptions[28]?.value && shipInfoList.length > 0">
                    <mat-icon class="m-0 mr-16">local_shipping</mat-icon>
                    <div class="h2 secondary-text">Shipping Details</div>
                </div>
                <table id="table-summary-tracking" *ngIf="docOptions[28]?.value && shipInfoList.length > 0">
                    <thead>
                        <tr>
                            <th class="tracking-code">Tracking Code</th>
                            <th class="tracking-code">Shipping Method</th>
                            <th class="tracking-code">Ship Date</th>
                            <th class="tracking-code">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let shipping of shipInfoList; let i=index;">
                            <tr>
                                <td class="tracking-code" valign="top">
                                    {{shipping.trackNumber}}
                                </td>
                                <td class="tracking-code" valign="top">
                                    {{shipping.shippingMethod}}
                                </td>
                                <td class="tracking-code" valign="top">
                                    {{ shipping.shipDate }}
                                </td>
                                <td class="tracking-code" valign="top">
                                    {{ shipping.note }}
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>

            </div>

            <!-- FOOTER -->

            <div id="footer" class="footer-invoice">

                <div *ngIf="invoice.orderNote != ''" class="note mt-16">Notes:</div>
                <div *ngIf="invoice.orderNote != ''" fxLayout="row" fxLayoutAlign="start start">
                    <div class="small-note">{{invoice.orderNote}}</div>
                </div>
                <div *ngIf="docOptions[29]?.value" fxLayout="row" fxLayoutAlign="start start">
                    <div class="footer-note pre">{{ displaydocDefaultOptions(docOptions[29]?.name)}}</div>
                </div>
            </div>

            <!--

            Use the following elements to add breaks to your pages. This will make sure that the section in between
            these elements will be printed on a new page. The following two elements must be used before and after the
            page content that you want to show as a new page. So, you have to wrap your content with them.

            Elements:
            ---------
            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            -->

            <!--

            Example:
            --------

            Initial page content!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            This is the second page!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            This is the third page!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            -->

        </div>
        <!-- / INVOICE -->

    </div>

</div>
<div class="loading" [@animate]="{value:'*',params:{opacity:1}}" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>