.add-pricing-break-container {
    min-height: 610px;
}

.add-pricing-margin-container{
    min-height: 610px;
}

.full-width-form {
    width: 85%;
}

.one-third-input {
    max-width: 29%;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    display: contents;
}