@import "src/@fuse/scss/fuse";

.app-product-mass-update {
    width: 100%;

    .mat-dialog-container {
        padding: 0;
        overflow: hidden;

        .mat-toolbar {
            min-height: initial;
            flex: none;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .mat-dialog-content {
        padding: 0;
    }

    .mat-form-field, .mat-form-field-infix {
        width: 400px;
    }

    .mat-input-element {
      background-color: #e2e2e2;
      margin-left: 5px;
      max-width: 100px;
    }

    .product {
        position: relative;
    }

    /*.mat-form-field {
        width: 90%;
    }*/

    .loading {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.2);
    }

    .variation-preview {
        min-width:50px;
        min-height:50px;
        max-width:50px;
        max-height:50px;
    }
}

.mat-option-div {
    .mat-option-img-div {
        min-width:50px;
        width:50px;
        height:50px;
        margin-right:10px;
        img {
            max-width:50px;
            max-height:50px;
        }
    }
}
