.add__item {
  margin: 8px;
  background: #ffffff;
  border-radius: 4px;
  padding: 4px;

  .img {
    padding: 4px;
    img { 
      max-width: 50px;
    }
  }

  .mat-button {
    height: 45px;
    line-height: 45px;
  }
  // ::ng-deep .mat-form-field-wrapper {
  // padding-bottom: 0 !important;
  // }
  .mat-form-field {
    font-size: 18px;
  }
}