@import "src/@fuse/scss/fuse";

.create-factory-dialog {
    width: 100%;
    max-width: 700px !important;
    .mat-dialog-container {
        padding: 0;
        overflow: hidden;

        .mat-toolbar {
            min-height: initial;
            display: flex;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .dialog-title {
        text-align: center;
    }

    .mat-toolbar-row {

    }

    .cred-button {
        padding: 8px;
    }
}
