<div id="antera-product-repo" class="page-layout carded fullwidth list-page" fusePerfectScrollbar *ngIf="state$ | async as state">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <div class="header white-fg h-80"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <button class="mr-0 mr-sm-16" mat-icon-button *ngIf="state.action=='edit'" (click)="backToList()">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxFlex.gt-xs="1 0 auto"
                    fxLayout="row" fxLayoutAlign="start center" *ngIf="state.action=='edit'">
                <span class="logo-text h1">Manage Antera Repository</span>
            </div>

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxFlex.gt-xs="1 0 auto"
                    fxLayout="row" fxLayoutAlign="start center" *ngIf="state.action=='list'">
                <span class="logo-text h1">Antera Repositories</span>
            </div>
        </div>

        <!-- CONTENT  -->
        <mat-sidenav-container class="content-card" *ngIf="state.action=='list'">
            <mat-sidenav class="sidenav primary-bg" align="start" opened="true" mode="side" fuseMatSidenavHelper="account-sidenav">
                <mat-list class="p-0">
                    <mat-list-item class="mat-accent-bg" matRipple (click)="create()">
                        <mat-icon>add</mat-icon>
                        <span class="ml-8">Add</span>
                    </mat-list-item>
                    <mat-list-item class="mat-warn-bg" matRipple (click)="remove()">
                        <mat-icon>delete</mat-icon>
                        <span class="ml-8">Delete</span>
                    </mat-list-item>
                    <mat-list-item class="mat-accent-bg" matRipple (click)="clearFilters()">
                        <mat-icon>layers_clear</mat-icon>
                        <span class="ml-8">Clear Filters</span>
                    </mat-list-item>
                </mat-list>
            </mat-sidenav>

            <div class="toolbar">
                <div fxFlex="row">
                    <div fxFlex="row" fxLayoutAlign="start center">
                        <button mat-icon-button fxHide.gt-md
                                fuseMatSidenavToggler="account-sidenav">
                            <mat-icon>menu</mat-icon>
                        </button>

                        <button mat-raised-button color="accent" class="text-capitalize mr-8" fxHide fxShow.gt-md (click)="create()">
                            <mat-icon>add</mat-icon> Add
                        </button>
                        <button mat-raised-button color="accent" class="text-capitalize mr-8" (click)="clearFilters()"
                                fxHide fxShow.gt-md>
                            <mat-icon>layers_clear</mat-icon> Clear Filters
                        </button>
                    </div>
                </div>
            </div>
            <antera-product-repo-list></antera-product-repo-list>
        </mat-sidenav-container>
        <mat-sidenav-container class="content-card" *ngIf="state.action=='edit'">
          <antera-product-repo-form *ngIf="state.action=='edit'"></antera-product-repo-form>
        </mat-sidenav-container>
    </div>

  <div class="loading" [@animate]="{value:'*',params:{opacity:1}}" *ngIf="state.loading">
      <mat-spinner></mat-spinner>
  </div>
</div>
