.pricing-margin-container {
    min-width: 100%;
    padding-top: 20px;
}

.full-width-form {
    width: 85%;
}

.half-with-input {
    max-width: 45%;
}

.right-container {
    padding-left: 10px;
}

.ranges-container {
    min-height: fit-content;
}

.ranges-form-container {
    min-height: auto;
}

.mat-list {
    overflow: auto;
}