fuse-artworks {
    .mat-button-toggle-group {
        align-self: center;
    }

    .mat-list {
        cursor: pointer;
    }

    .mw-200 {
        max-width: 200px;
    }

}

.hide-checkbox .mat-pseudo-checkbox {
    display: none;
}
