$pricing-width: 90px;

%orderColumns {
  .col {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    padding: 8px;
    align-self: stretch;
    justify-content: center;

    &--expand,
    &--menu {
      cursor: pointer;
    }

    &--img {
      img {
        background: #fff;
        border: 1px solid #eee;
        border-radius: 1px;
        padding: 4px;
      }
    }

    &--group {
      flex: 1;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    &--icon {
      color: #cccccc;
    }
    &--parent {
      width: 32px;
    }
    &--description {
      flex: 1;

      .summary {
        font-weight: 8px;

        span {
          display: inline-block;
          margin-right: 16px;
        }
      }
    }

    &--menu {
      width: 40px;
    }

    &--fulfillment {
      width: 200px;
      min-width: 200px;

      .fulfillment {
        display: flex;
        flex-direction: column;
        width: 100%;

        .mat-form-field {
          flex: 1;
          margin-bottom: 8px;
        }
      }
    }

    &--qty,
    &--price,
    &--cost,
    &--total {
      min-width: $pricing-width;
      width: $pricing-width;
      text-align: right;
      text-overflow: ellipsis;
      overflow: hidden;

      input {
        text-align: right;
      }

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
