@import "src/@fuse/scss/fuse";

app-identity-list {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .mat-table {
        box-shadow: none;
        margin-top: 64px;
        //position: static;
        //overflow-y: auto;

        .mat-header-row {
            background: white;
            width: 100%;
            position: absolute;
            top: 0;
            z-index: 1;
        }

        .mat-header-cell {
            .mat-sort-header-arrow {
                opacity: 0;
                transform: translateY(0px);
                .mat-sort-header-pointer-left {
                    transform: rotate(-45deg);
                }
                .mat-sort-header-pointer-right {
                    transform: rotate(45deg);
                }
            }
        }
        
        .mat-column-select {
            flex: 0 1 64px;

            .mat-checkbox-ripple {
                display: none !important; //fix for broken rendering
            }
        }

        .mat-row {
            position: relative;
            cursor: pointer;
                        z-index: 0;

            .mat-cell {
                min-width: 0;

                &.mat-column-detail-button {
                    flex: 0 1 auto;
                    padding: 0 24px 0 0;
                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}
