.contacts-select-dialog .mat-dialog-container {
    min-width: 80vw !important;
    padding: 0;

    .account-row {
        position: relative;

        .mat-checkbox-ripple {
            display: none;
        }
    }
}