<div fxLayout="column" fxFlex>
    <!-- <div class="toolbar">
            <div fxFlex="row">
                <div fxFlex="row" fxLayoutAlign="start center">
                    <button mat-raised-button color="accent"
                            class="text-capitalize mr-8"
                            (click)="clearFilters()"
                            fxHide fxShow.gt-md>
                        <mat-icon>layers_clear</mat-icon> Clear Filters
                    </button>
                </div>
        </div>
    </div> -->
    <app-payment-method-list fxLayout="column"></app-payment-method-list>
</div>

