
.royality-modal-create {

    .mat-icon.mt-12 {
        margin-top: 22px !important;
        margin-right: 8px !important;
    }
    

}

.royalit-progs-cap-list {
    width: 100%;
    float: left;
    height: 50vh;
    overflow: scroll;
}