@import "src/@fuse/scss/fuse";

.select-decoration-dialog {
  $icon-size: 56px;
  width: 30vw;
  overflow: hidden;

  @include media-breakpoint('xs') {
    width: 80vw !important;
    max-width: 80vw !important;
  }

  @include media-breakpoint('sm') {
    width: 70vw !important;
    max-width: 70vw !important;
  }

  @include media-breakpoint('md') {
    width: 45vw !important;
    max-width: 45vw !important;
  }

  .mat-icon {
    width: $icon-size;
    height: $icon-size;
    line-height: $icon-size;
    min-width: $icon-size;
    min-height: $icon-size;
    font-size: $icon-size;
   }

    .deco-icon{
        color: #188FBE;
    }
    
    app-select-decoration {
        width: 80%;
        height: 80%;
    }

    .dialog-content {
        .new-artwork,
        .modify-artwork {
            cursor: pointer;

            &:hover {
                background-color: #eeeeee;
            }
        }
    }
}
