<div class="px-32">
    <div class="mt-40" fxLayout="row">
      <span class="mat-title">Document System Configuration</span>
    </div>
  
    <form *ngIf="!settled" [formGroup]="configForm" class="px-16 pb-32">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="w-240 mr-16">Proof Email Address</span>
        <mat-form-field class="mr-16" fxFlex hintLabel="Proof Email Address, which is used in art proof document">
          <input matInput formControlName="artworkProofEmailAddress">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="w-240 mr-16">Proof Fax</span>
        <mat-form-field class="mr-16" fxFlex hintLabel="Proof Fax Number, which is used in art proof document">
          <input matInput formControlName="artworkProofFax">
        </mat-form-field>
      </div>
      <div class="mt-24" fxLayout="row" fxLayoutAlign="start center">
        <span class="w-240 mr-16">Payments in Order Confirmation</span>
        <mat-checkbox
            formControlName="showPaymentsReceivedInOrderConfirmation"
        >Enable/Disable showing payments history in order confirmation document</mat-checkbox>
      </div>
      <div class="mt-16">
        <button mat-raised-button class="mr-8" color="accent" (click)="save()">Save</button>
      </div>
    </form>
  </div>
  
  <div class="loading" *ngIf="loading">
      <mat-spinner></mat-spinner>
  </div>
  