<mat-table fxFlex #table [dataSource]="dataSource" matSort
           [formGroup]="filterForm"
           (matSortChange)="sortChange($event)"
           [@animateStagger]="{value:'50'}">

    <ng-container cdkColumnDef="productId">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span mat-sort-header>Item No</span>
          <input class="form-control" formControlName="productId" placeholder="">
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <p class="text-truncate" [title]="item.inhouseId">{{ item.productId }}</p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="inhouseId">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span mat-sort-header>In-House ID</span>
          <input class="form-control" formControlName="inhouseId" placeholder="">
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <p class="text-truncate">{{ item.inhouseId }}</p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="productName">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span mat-sort-header>Name</span>
          <input class="form-control" formControlName="productName" placeholder="">
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <p class="text-truncate" [title]="item.productName">{{ item.productName}}</p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="sku">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span mat-sort-header>Sku</span>
          <input class="form-control" formControlName="sku" placeholder="">
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <p class="text-truncate" [title]="item.sku">{{ item.sku }}</p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="size">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span mat-sort-header>Size</span>
          <input class="form-control" formControlName="size" placeholder="">
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <p class="text-truncate" [title]="item.size">{{item.size}}</p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="color">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span mat-sort-header>Color</span>
          <input class="form-control" formControlName="color" placeholder="">
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <p class="text-truncate" [title]="item.color">{{item.color}}</p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="site">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span mat-sort-header>Site</span>
          <input class="form-control" formControlName="site" placeholder="">
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <p class="text-truncate">{{ item.site }}</p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="bin">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span mat-sort-header>Bin</span>
          <input class="form-control" formControlName="bin" placeholder="">
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <p class="text-truncate">{{ item.bin }}</p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="quantity">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span mat-sort-header>Qty on Hand</span>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <p class="text-truncate">{{ item.newQuantity }}</p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="quantityEdit">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span mat-sort-header>New Qty</span>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <p class="text-truncate">{{ item.newQuantity}}</p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="quantityDiff">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span>Adjust Qty</span>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <input class="form-control" [formControl]="af.get(item.binId+'_'+item.sku)" placeholder="" (keyup)="calculateChange(item.binId, item.sku)">
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="price">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span>Unit Price</span>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <input class="form-control" *ngIf="item.quantityChange < 0" [value]="item.price" placeholder="" disabled>
        <input class="form-control" *ngIf="item.quantityChange >= 0" [formControl]="af.get(item.binId+'_'+item.sku+'_price')" placeholder="">
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="glaccount" class="narrowCell">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span>Account</span>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" class="narrowCell">
        <mat-select ngClass="narror-cell"
        placeholder="Credit" [formControl]="af.get(item.binId+'_'+item.sku+'_gl')">
          <mat-option *ngFor="let account of financialAccounts.allAccounts" [value]="account.id">
            {{ account.name }}
          </mat-option>
        </mat-select>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="note">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span>Reason</span>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <!-- <mat-select placeholder="Credit" [formControl]="af.get(item.binId+'_'+item.sku+'_gl')">
          <mat-option *ngFor="let account of financialAccounts.allAccounts" [value]="account.id">
            {{ account.name }}
          </mat-option>
        </mat-select> -->
        <textarea [formControl]="af.get(item.binId+'_'+item.sku+'_notes')" placeholder=""hidden></textarea>
        <!-- <input class="form-control" [formControl]="af.get(item.binId+'_'+item.sku+'_notes')" placeholder="" hidden> -->
        <mat-icon style="padding-left: 20px;" aria-hidden="false" aria-label="Add Note" (click)="addNote(item)" title="Add Note" color="accent">note_add</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="calculationType">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef>
          <span>
            Adjust By 
          </span>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm class="button">
        <mat-select [placeholder]="adjusmentsOptions[0].viewValue" [formControl]="af.get('adjustmentType')" >
          <mat-option *ngFor="let adjustment of adjusmentsOptions" [value]="adjustment.viewValue">
            {{ adjustment.viewValue }}
          </mat-option>
        </mat-select>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="save">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef>
          <span>
            Save
          </span>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm class="button">
        <!-- adj {{adjustmentType }}
        <mat-icon *ngIf="adjustmentType == 'Average Row' || !adjustmentType"  aria-hidden="false" aria-label="Save inventory adjustment" (click)="adjustSave(item)" title="Save inventory average adjustment" color="accent">save</mat-icon>
        <mat-icon *ngIf="adjustmentType == 'Average All'" aria-hidden="false" aria-label="Save inventory adjustment" (click)="adjustSaveAverageAll()" title="Save inventory adjustment" color="accent">save</mat-icon>
        <mat-icon *ngIf="adjustmentType == 'Override All'"  aria-hidden="false" aria-label="Save inventory adjustment" (click)="adjustSaveOverrideAll(item)" title="Save inventory adjustment" color="accent">save</mat-icon>
        <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button> -->
        <button  mat-icon-button *ngIf="adjustmentType == 'Average Row' || !adjustmentType" (click)="adjustSave(item)"  aria-label="Save inventory average adjustment">
          <mat-icon color="accent">save</mat-icon>
        </button>
        <button  mat-icon-button *ngIf="adjustmentType == 'Average All'" (click)="adjustSaveAverageAll()" aria-label="Save inventory adjustment">
          <mat-icon color="accent">save</mat-icon>
        </button>
        <button  mat-icon-button  *ngIf="adjustmentType == 'Override All'" (click)="adjustSaveOverrideAll(item)"  aria-label="Save inventory adjustment">
          <mat-icon color="accent">save</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <ng-container cdkColumnDef="reserved">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span mat-sort-header>Reserved</span>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <p class="text-truncate">{{ item.reserved }}</p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="min">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span mat-sort-header>Min</span>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <p class="text-truncate">{{ item.min}}</p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="max">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span mat-sort-header>Max</span>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <p class="text-truncate">{{ item.max}}</p>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="dateModified">
      <mat-header-cell class="header-cell" fxHide fxShow.gt-sm  *cdkHeaderCellDef (keyup.enter)="loadData()">
          <span mat-sort-header>Last Modified</span>
          <input class="form-control" formControlName="dateModified" placeholder="">
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
        <p class="text-truncate">{{ item.dateModified | date}}</p>
      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedClumns"></mat-header-row>
    <mat-row *cdkRowDef="let item; columns: displayedClumns;"
             class="inventory-item"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>

<mat-paginator #paginator
               [length]="dataSource.total"
               [pageIndex]="dataSource.index"
               [pageSize]="50"
               [pageSizeOptions]="[10, 20, 50, 100]"
               (page)="paginate($event)"
               [showFirstLastButtons]="true">
</mat-paginator>

<div class="loading"
     [@animate]="{value:'*',params:{opacity:1}}"
     *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
