<mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">Mail Credentials</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="p-16 m-0">
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between right">
        <mat-icon class="accent mr-8" mat-list-icon (click)="createMailCredentials()" *ngIf="!edit">add</mat-icon>
        <mat-icon class="accent mr-8" mat-list-icon (click)="back()" *ngIf="edit">arrow_back</mat-icon>
    </div>
    <div class="email-table pt-20" *ngIf="!edit">
        <mat-table #table [dataSource]="mailCredentialsList" fusePerfectScrollbar>

            <ng-container cdkColumnDef="email">
                <mat-header-cell class="header-cell" *cdkHeaderCellDef>
                    <span>Email</span>
                </mat-header-cell>
                <mat-cell *cdkCellDef="let email">
                    <p class="company text-truncate">
                        {{email.email}}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="primary">
                <mat-header-cell class="header-cell" *cdkHeaderCellDef>
                    <span></span>
                </mat-header-cell>
                <mat-cell *cdkCellDef="let email">
                    <p class="company text-truncate" *ngIf="email.isPrimary > 0">
                        <span class="font-size-10">Primary</span>
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="actions">
                <mat-header-cell class="header-cell" *cdkHeaderCellDef>
                    <span>Actions</span>
                </mat-header-cell>
                <mat-cell *cdkCellDef="let email">
                    <mat-icon class="accent mr-8" mat-list-icon (click)="editMailCredentials(email.id)">edit
                    </mat-icon>
                    <mat-icon class="accent mr-8" mat-list-icon (click)="removeUserEmailSetting(email.id)">delete
                    </mat-icon>
                </mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="displayColumns"></mat-header-row>
            <mat-row *cdkRowDef="let email; columns: displayColumns;" class="email-row" matRipple
                [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>
        </mat-table>
        <div class="h-64 text-center p-20" *ngIf="mailCredentialsList.length == 0">
            You don't have email credentials.
        </div>
        <div class="loading" [@animate]="{value:'*',params:{opacity:1}}" *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>
    </div>

    <form name="form" [formGroup]="credentialsForm" *ngIf="edit">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" class="p-16">
            <div fxFlex fxFlex.xs="100" fxFlex.sm="50" fxLayout="column" class="p-8">
                SMTP settings
                <mat-form-field>
                    <input matInput placeholder="SMTP Server" formControlName="smtpServer" autocomplete="off"
                        required />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="SMTP Port" formControlName="smtpPort" autocomplete="off"
                        required />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="SMTP Username" formControlName="smtpUser" autocomplete="off"
                        required />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="SMTP Password" formControlName="smtpPass" type="password"
                        autocomplete="off" />
                </mat-form-field>
                <mat-checkbox class="mb-20 mt-20" formControlName="isPrimary">
                    Primary
                </mat-checkbox>
            </div>
            <mat-divider></mat-divider>
            <div fxFlex fxFlex.xs="100" fxFlex.sm="50" fxLayout="column" class="p-8">
                IMAP settings
                <mat-form-field>
                    <input matInput placeholder="IMAP Server" formControlName="imapServer" autocomplete="off"
                        required />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="IMAP Port" formControlName="imapPort" autocomplete="off"
                        required />
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="IMAP Username" formControlName="imapUser" autocomplete="off"
                        required />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="IMAP Password" formControlName="imapPass" type="password"
                        autocomplete="off" />
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" class="cred-button" *ngIf="edit" (click)="save(credentialsForm)"
        aria-label="SAVE">
        SAVE
    </button>

    <button mat-raised-button color="warn" class="cred-button" (click)="dialogRef.close()" aria-label="CLOSE">
        CLOSE
    </button>
</div>
