<mat-list>
  <mat-list-item>
    <mat-icon mat-list-icon>mode_edit</mat-icon>
    <h4 mat-line>Edit Order</h4>
    <p mat-line>Edit the contents of this Order</p>
  </mat-list-item>
  <!-- <mat-list-item>
    <mat-icon mat-list-icon>verified_user</mat-icon>
    <h4 mat-line>QuickBooks Integration</h4>
    <p mat-line>Edit the level of integration this Order has</p>
  </mat-list-item> -->
  <mat-list-item>
    <mat-icon mat-list-icon>cached</mat-icon>
    <h4 mat-line>Reprocess Order</h4>
    <p mat-line>Reprocess the current Order one time</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>check</mat-icon>
    <h4 mat-line>Send a Confirmation Message</h4>
    <p mat-line>Send a Customer Order Confirmation</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>link</mat-icon>
    <h4 mat-line>Create a Link</h4>
    <p mat-line>Create a new Link between orders</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>add</mat-icon>
    <h4 mat-line>Generate a PO</h4>
    <p mat-line>Create a new Purchase Order</p>
  </mat-list-item>
</mat-list>