<div id="commissions" class="page-layout carded fullwidth list-page" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg h-80" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxFlex.gt-xs="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom
                    [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">style</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Commission Groups</span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT  -->
        <mat-sidenav-container class="content-card">
            <mat-sidenav class="sidenav primary-bg" align="start" opened="true" mode="side"
                fuseMatSidenavHelper="contacts-sidenav">
                <mat-list class="p-0">
                    <mat-list-item class="mat-accent-bg" matRipple (click)="newCommissionGroup()">
                        <mat-icon>add</mat-icon>
                        <span class="ml-8">Commission Group</span>
                    </mat-list-item>
                    <mat-list-item class="mat-accent-bg" matRipple (click)="clearFilters()">
                        <mat-icon>layers_clear</mat-icon>
                        <span class="ml-8">Clear Filters</span>
                    </mat-list-item>
                    <mat-list-item class="mat-warn-bg" matRipple (click)="deleteSelected()">
                        <mat-icon>delete</mat-icon>
                        <span class="ml-8">Delete</span>
                    </mat-list-item>
                    <mat-list-item class="mat-accent-bg" matRipple (click)="cloneSelected()">
                        <mat-icon>content_copy</mat-icon>
                        <span class="ml-8">Clone</span>
                    </mat-list-item>
                </mat-list>
            </mat-sidenav>

            <div class="toolbar">
                <div fxFlex="row">
                    <div fxFlex="row" fxLayoutAlign="start center">
                        <button mat-icon-button fxHide.gt-md fuseMatSidenavToggler="contacts-sidenav">
                            <mat-icon>menu</mat-icon>
                        </button>

                        <button mat-raised-button color="accent" class="text-capitalize mr-8" (click)="newCommissionGroup()">
                            <mat-icon>add</mat-icon> Commission Group
                        </button>


                        <button mat-raised-button color="accent" class="text-capitalize mr-8" (click)="clearFilters()"
                            fxHide fxShow.gt-md>
                            <mat-icon>layers_clear</mat-icon> Clear Filters
                        </button>

                        <button mat-raised-button color="warn" class="text-capitalize mr-8" fxHide fxShow.gt-md
                            (click)="deleteSelected()">
                            <mat-icon>delete</mat-icon> Delete
                        </button>
                        <button mat-raised-button color="accent" class="text-capitalize mr-8" fxHide fxShow.gt-md
                            (click)="cloneSelected()">
                            <mat-icon>content_copy</mat-icon> Clone
                        </button>
        
                    </div>
                </div>
            </div>


            <mat-toolbar>
                <div fxFlex>Commission Groups</div>

                <button mat-raised-button color="accent" class="text-capitalize mr-8" (click)="newCommissionGroup()">
                    <mat-icon>add</mat-icon> Commission Group
                </button>
            </mat-toolbar>
            <app-commission-group-list></app-commission-group-list>

        </mat-sidenav-container>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>

<div class="loading" [@animate]="{value:'*',params:{opacity:1}}" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
