<h1 mat-dialog-title>Additional Charges</h1>
<div mat-dialog-content>
    <div fxLayout fxLayoutAlign="end">
        <!-- <div fxFlex>
                <button
                mat-raised-button
                color="accent"
                (click)="addCharge()"
                >
                <mat-icon>add</mat-icon> Add
                </button>
            </div> -->

        <mat-form-field>
            <mat-select placeholder="Select Additional Charges" panelClass="order-additional-charges-select"
                [formControl]="selectCharges" (selectionChange)="changeSelectedCharges($event.value)" multiple>
                <mat-select-trigger>{{selectedCharges.length}} charges selected</mat-select-trigger>
                <mat-option class="filter-input" (click)="$event.stopPropagation()" disabled>
                    <input matInput placeholder="Search Additional Charges" [formControl]="search"
                        (keydown)="$event.stopPropagation()">
                    <button mat-icon-button (click)="clearSearch()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-option>
                <mat-option *ngFor="let row of filteredCharges" [value]="row.code">{{row.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-table #addonTable [dataSource]="selectedCharges" matSort fusePerfectScrollbar>

        <!-- Item Code Column -->
        <ng-container cdkColumnDef="code">
            <mat-header-cell class="header-cell" *cdkHeaderCellDef fxHide.xs>
                <span mat-sort-header>Code</span>
            </mat-header-cell>
            <mat-cell *cdkCellDef="let element" fxHide.xs>
                <div class="text-truncate">{{ element.code }}</div>
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container cdkColumnDef="name">
            <mat-header-cell class="header-cell" *cdkHeaderCellDef fxFlex="20" fxFlex.lt-md="35">
                <span mat-sort-header>Name</span>
            </mat-header-cell>
            <mat-cell *cdkCellDef="let element" fxFlex="20" fxFlex.lt-md="25">
                <div class="text-truncate"> {{ element.name }}</div>
            </mat-cell>
        </ng-container>

        <!-- Description Column -->
        <ng-container cdkColumnDef="description">
            <mat-header-cell [ngClass]="{'w-p-30': !currencyEnabled, 'w-p-10': currencyEnabled}" class="header-cell" *cdkHeaderCellDef fxShow fxHide.lt-lg fxFlex="15">
                <span mat-sort-header>Description</span>
            </mat-header-cell>
            <mat-cell [ngClass]="{'w-p-30': !currencyEnabled, 'w-p-10': currencyEnabled}" *cdkCellDef="let element" fxShow fxHide.lt-lg fxFlex="15">
                <div class="text-truncate"> {{ element.description }}</div>
            </mat-cell>
        </ng-container>


        <!-- Qty Column -->
        <ng-container cdkColumnDef="quantity">
            <mat-header-cell class="header-cell w-60" *cdkHeaderCellDef>
                <span mat-sort-header>Qty</span>
            </mat-header-cell>
            <mat-cell class="w-60" *cdkCellDef="let element">
                <div class="text-truncate"> {{ element.matchOrderQty ? totalCount : element.quantity }}</div>
            </mat-cell>
        </ng-container>

        <!-- Vendor Currency -->
        <ng-container cdkColumnDef="vendorCurrency">
            <mat-header-cell class="header-cell w-60" *cdkHeaderCellDef>
                <span mat-sort-header>$</span>
            </mat-header-cell>
            <mat-cell class="w-60" *cdkCellDef="let element">
                <div fxLayout="column">
                    <p class="mb-0 mt-0">{{ baseCurrency }}</p>
                    <p class="mb-0 mt-0">{{ vendorCurrencyCode }}</p>
                </div>
            </mat-cell>
        </ng-container>
        
        <!-- / Vendor Currency -->

        <!-- Vendor Exchange Rate -->
        
        <ng-container cdkColumnDef="vendorExchangeRate">
            <mat-header-cell class="header-cell w-60" *cdkHeaderCellDef>
                <span mat-sort-header>Rate</span>
            </mat-header-cell>
            <mat-cell class="w-60" *cdkCellDef="let element">
                <p> {{ costExchangeRate | async | roundString: 4 }}</p>
            </mat-cell>
        </ng-container>
        
        <!-- / Vendor Exchange Rate -->


        <!-- Cost Column -->
        <ng-container cdkColumnDef="cost">
            <mat-header-cell class="header-cell w-60" *cdkHeaderCellDef>
                <span mat-sort-header>Cost</span>
            </mat-header-cell>
            <mat-cell *cdkCellDef="let element">
                <div fxLayout="column">
                    <div class="mb-0 mt-0"> {{ element.cost }}</div>
                    <div *ngIf="currencyEnabled" class="mb-0 mt-0">{{ displayCostConverted(element.cost) | roundString: 2}}</div>
                </div>
            </mat-cell>
        </ng-container>


        <!-- ADMIN FEE COST COLUMN -->

        <ng-container cdkColumnDef="adminFee">
            <mat-header-cell class="header-cell" *cdkHeaderCellDef>
                <span mat-sort-header>{{fieldLabel('adminFeeType', fields)}}</span>
            </mat-header-cell>
            <mat-cell *cdkCellDef="let element">
                <div> {{ orderDetails.adminFeeRate | roundString: 2 }}</div>
            </mat-cell>
        </ng-container>

        <!-- / ADMIN FEE COST COLUMN -->

        <!-- SUBTOTAL COLUMN -->

        <ng-container cdkColumnDef="revCost">
            <mat-header-cell class="header-cell" *cdkHeaderCellDef>
                <span mat-sort-header>Subtotal</span>
            </mat-header-cell>
            <mat-cell *cdkCellDef="let element">
                <div> {{ calculateUnitCost(element.price, element.cost, orderDetails.adminFeeRate) }}</div>
            </mat-cell>
        </ng-container>

        <!-- / SUBTOTAL COLUMN -->

        <!-- Customer Exchange Rate -->
        
        <ng-container cdkColumnDef="customerExchangeRate">
            <mat-header-cell class="header-cell" *cdkHeaderCellDef>
                <span mat-sort-header>Rate</span>
            </mat-header-cell>
            <mat-cell *cdkCellDef="let element">
                <p> {{ customerExchangeRate | async | roundString: 4 }}
                </p>
            </mat-cell>
        </ng-container>
        
        <!-- / Customer Exchange Rate -->

        <!-- Customer Currency -->
        <ng-container cdkColumnDef="customerCurrency">
            <mat-header-cell class="header-cell w-60" *cdkHeaderCellDef>
                <span mat-sort-header>$</span>
            </mat-header-cell>
            <mat-cell class="w-60" *cdkCellDef="let element">
                <div fxLayout="column">
                    <p class="mt-0 mb-0">{{ baseCurrency }}</p>
                    <p class="mt-0 mb-0">{{ customerCurrencyCode }}</p>
                </div>
            </mat-cell>
        </ng-container>
        <!-- / Customer Currency -->

        


        <!-- Price Column -->
        <ng-container cdkColumnDef="price">
            <mat-header-cell class="header-cell w-60" *cdkHeaderCellDef>
                <span mat-sort-header>Price</span>
            </mat-header-cell>
            <mat-cell class="w-60" *cdkCellDef="let element">
                <div fxLayout="column">
                    <div class="mt-0 mb-0"> {{ element.price }}</div>
                    <div *ngIf="currencyEnabled" class="mt-0 mb-0">{{ displayPriceConverted(element.price) | roundString: 2 }}</div>
                </div>
            </mat-cell>
        </ng-container>

        <!-- Settings Column -->
        <ng-container cdkColumnDef="settings">
            <mat-header-cell class="header-cell mat-cell-checkbox" *cdkHeaderCellDef fxShow fxHide.lt-md>
                <span>Settings</span>
            </mat-header-cell>
            <mat-cell *cdkCellDef="let element" class="mat-cell-checkbox" fxShow fxHide.lt-md
                (click)="$event.stopPropagation()">
                <div class="text-left text-sm">
                    <div>
                        <mat-checkbox [checked]="!element.itemTaxOff"
                            (change)="element.itemTaxOff =! element.itemTaxOff">
                            Charge Sales Tax
                        </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox [(ngModel)]="element.matchOrderQty" (ngModelChange)="checkQuantity(element)">
                            Match order quantity
                        </mat-checkbox>
                    </div>
                    <div *ngIf="data?.deco">
                        <mat-checkbox [(ngModel)]="element.rollbackDistributeRows">Rollback to all rows in item
                        </mat-checkbox>
                    </div>
                    <div *ngIf="orderConfig?.enableGstOnPo">
                        <mat-checkbox [(ngModel)]="element.chargeGstTaxOnPo">Charge GST Tax on PO</mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox [(ngModel)]="element.isCommissionEnabled">Enable commissions</mat-checkbox>
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container cdkColumnDef="actions">
            <mat-header-cell class="header-cell mat-cell-checkbox" *cdkHeaderCellDef fxShow fxHide.lt-md>
            </mat-header-cell>
            <mat-cell *cdkCellDef="let element; let i=index;" (click)="$event.stopPropagation()">
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                    (click)="$event.stopPropagation();">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="Personalizations" (click)="getPersonalizations(element.id)" *ngIf="isPersonalizationsCharge(element)">
                        <mat-icon>perm_data_setting</mat-icon>
                        <span>Personalizations</span>
                    </button>
                    <button mat-menu-item aria-label="remove" (click)="deleteCharge(i)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayColumns"></mat-header-row>

        <mat-row *cdkRowDef="let row; columns: displayColumns;" (click)="onEditCharge(row)"></mat-row>

    </mat-table>

    <ng-container *ngIf="supplierDecoration && supplierLocation">
        <h3>Supplier Decoration Charges</h3>
        <supplier-addon-pricing-table [decoration]="supplierDecoration" [location]="supplierLocation"
            (addCharge)="addCharge($event)" [product]="data.product"></supplier-addon-pricing-table>
    </ng-container>

</div>
<div mat-dialog-actions>
    <button mat-raised-button color="accent" mat-dialog-close>Close</button>
    <ng-container *checkPermission="[orderId, 'Order']; requiredPermission 'allowEdit'">
        <button mat-raised-button color="accent" (click)="save()">Save</button>
    </ng-container>
</div>